

  @media screen and (max-width: 1024px) {
    .row.contact {
      .full-row {
        .blocks-container {
          .block {
            width: 100%;
            .contact {
              .wpcf7 {

              }
            }
          }
          .block:last-child {
            margin-left: 80px;
            z-index:-1;
            position:relative;
            margin-top: -80px;
            width: 90%;
          }
        }
      }
    }
    .page-template-about-me {
      .row.book {
        .full-row {
          .blocks-container {
            .block {
              .book-image {
                .image {
                  .image-dot {
                    left: 5%;
                  }
                }
              }
            }
          }
        }
      }

      .row.reviews {
        .full-row {
          .blocks-container {
            .block {
              .review-image {
                .image-backlayer {
                  width: 91%;
                }

                .image {
                  width: 91%;
                }
              }
            }

            .block:last-child {
              width: 45%;
              margin-right: 5%;
            }
          }
        }
      }

      .row.quote {
        .full-row {
          .blocks-container {
            margin: 70px 130px;

            .block {

            }
          }
        }
      }

      .row.summary {
        .full-row {
          .blocks-container {
            .block {
              .big-image {
                display: none;
              }
            }

            .block:last-child {
              margin: 0 60px 0 60px;
            }
          }
        }
      }
    }
  }

  //begin media query 768px
  @media screen and (max-width: 768px) {
    .row.contact {
      .full-row {
        .blocks-container {
          .block {
            width: 86%;
            margin: 0px 7%;
            .contact {
              .wpcf7 {

              }
            }
          }
          .block:last-child {
            width: 86%;
            margin-left: 14%;
            z-index:-1;
            position:relative;
            margin-top: -40px;
          }
        }
      }
    }
    .page-template-about-me {
      .row.about-me {
        .full-row {
          .blocks-container {
            margin: 100px 0px 100px;

            .block {
              width: 100%;
              margin: 0;

              &:last-child {
                margin: 0;
              }
            }
          }
        }
      }
      .row.book {
        .full-row {
          .blocks-container {
            .block {
              width: 50%;
              margin-left: 0;

              .book-image {
                .image {
                  .image-dot {
                    left: 5%;
                  }
                }
              }
            }

            .block:last-child {
              margin-top: -100px;
            }
          }
        }
      }
      .row.summary {
        .full-row {
          .blocks-container {
            .block {
              width: 100%;
              margin: 0;
              text-align: center;

              .big-image {
                display: none;
              }
            }

            .block:last-child {
              width: 100%;
              margin: 0;

              p {
                width: 50%;
                float: left;

                &:last-child {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
  //eind media query 768px

  //begin media query 480px
  @media screen and(max-width: 480px) {
    .row.contact {
      .full-row {
        .blocks-container {
          .block {
            .title-content {
              .main {
                position: static;
                width: auto;
              }

              .secondary {
                display: none;
              }
            }
          }
        }
      }
    }
    .page-template-about-me {
      .row.quote .full-row .blocks-container {
        margin: 70px 20px;
      }

      .row.reviews .full-row .blocks-container {
        .block {
          display: none;
        }

        .block:last-child {
          display: block;
          width: 100%;

          p {
            font-size: 20px;
          }
        }
      }


    .row.book .full-row .blocks-container {
      .block, .block:last-child {
        margin: 0;
        width: 100%;
      }
    }
  }
    .row.contact .full-row .blocks-container {
      .block:last-child {
        width: 100%;
        margin:0;
        background: none;
        height:auto;
        .contact {
          margin:0;
          padding: 21px 0 23px;
          background: linear-gradient(230deg, #E95929 25%, #EC8F46 75%);
          box-shadow: 0 3px 6px rgba(0,0,0,0.15);
          border-radius: 16px;
        }
      }
    }
  }
  //eind media query 480px

  //begin media query 320px
  @media screen and (max-width: 320px) {
    .row.contact .full-row .blocks-container .block .contact .wpcf7-form {
      width: 210px;
    }
    .row.contact .full-row .blocks-container .block {
      width:100%;
      margin:0;
      .title-content .main p {
        width:100%;
        right:auto;
        text-align:center;
        font-size: 23px;

        margin: 17px 0;
      }
    }
    .row.contact .full-row .blocks-container {
      margin: 115px 0 100px;
    }
  }
  //eind media query 320px

@media screen and (max-width: 480px) {
  ul.services {
    margin:20px 0;
  }
}
