@media screen and(max-width: 768px) {
  .archive {
    .row.items {
      .full-row {
        .blocks-container {
          .block {
            width: 20%;
          }
          .block:last-child {
            width: 80%;
          }
        }
      }
    }
  }
}


@media screen and(max-width: 480px) {
  .archive {
    .row.items {
      .full-row {
        .blocks-container {
          .block {
            display: none;
          }

          .block:last-child {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .woof {
      .woof_redraw_zone {
        .woof_text_search_container {
          .woof_container_inner {
            .woof_show_text_search_container {
              input.woof_show_text_search {
                width: 100% !important;
              }
            }
          }
        }
      }
    }

    .woocommerce {
      .woocommerce-ordering {
        float: none;
        margin-top: 0;
      }
    }
  }
}

@media screen and(max-width: 320px) {
  .archive {
    .woocommerce {
      .woocommerce-ordering {
        select {
          width: 100%;
        }
      }

      ul.products li.type-product {
        width: 100% !important;

        a.woocommerce-loop-product__link {
          img {
            width: 100% !important;

          }
        }
      }
    }
  }
}

