@media screen and (max-width: 1024px) {
    .page-template-astrologisch{
        .row{
            &.upper{
                .full-row{
                    .blocks-container{
                        .block{
                            &.content{
                                .content{
                                    line-height: 1.2;
                                    padding: 0px 30px 0px 0px;
                                }
                            }
                        }
                    }
                }
            }
            &.repeater{
                .full-row{
                    .blocks-container{
                        .green_block{
                            width: calc(33.3333333333% - 40px);
                            .image-under{
                                position: relative;
                                bottom: 1px;
                            }
                        }
                    }
                }
            }
        }
    }
}

//begin media query 768px
@media screen and (max-width: 768px) {
    .page-template-astrologisch{
        .row{
            &.upper{
                .full-row{
                    .blocks-container{
                        .block{
                            &.content{
                                .content{
                                    &.under{
                                        width: 200%;
                                    }
                                }
                            }
                            &.image{
                                height: 300px;
                            }
                        } 
                    }
                }
            }
            &.repeater{
                .full-row{
                    .blocks-container{
                        .green_block{
                            .content-block{
                                .title{
                                    padding: 30px 0px 0px 10px;
                                }
                                .content{
                                    padding: 15px 5px 15px 5px;
                                }
                            }
                        }
                    }
                }
            }
            &.about-helena{
                .full-row{
                    .blocks-container{
                        .block{
                            &.life-lesson{
                                height: unset;
                                .price-tag{
                                    top: -10px;
                                }
                            }
                        }
                    }
                }
            }
            &.instructions{
                .full-row{
                    .blocks-container{
                        .block{
                            padding: unset;
                        }
                    }
                }
            }
        }
    }
}
//eind media query 768px

//begin media query 480px
@media screen and(max-width: 480px) {
    .page-template-astrologisch{
        .row{
            &.upper{
                .full-row{
                    .blocks-container{
                        .block{
                            &.content{
                                width: 100%;
                                .title{
                                    //width: 100%;
                                    text-align: center;
                                }
                                .content{
                                    padding: unset;
                                    text-align: center;
                                    &.under{
                                        width: 100%;
                                    }
                                }
                            }
                            &.image{
                                width: 100%;
                            }
                        }
                    }
                }
            }
            &.repeater{
                .full-row{
                    .blocks-container{
                        
                        .green_block{
                            width: 100%;
                            float: left;
                            margin-bottom: 100px;
                            margin-right: unset;
                            margin-left: unset;    
                        }
                    }  
                }
            }
            &.about-helena{
                .full-row{
                    .blocks-container{
                        .block{
                            &.about{
                                width: 100%;
                                .title{
                                    text-align: center;
                                }
                                .content{
                                    text-align: center;
                                }
                            }
                            &.life-lesson{
                                width: 100%;
                                margin-left: unset;
                                .title{
                                    width: 100%;
                                    text-align: center;
                                    padding: unset;
                                }
                                .content-lesson{
                                    width: 100%;
                                    text-align: center;
                                    padding: unset;
                                }
                            }
                        }
                    }
                }
            }
            &.instructions{
                .full-row{
                    .blocks-container{
                        padding: 45px 23px 33px;
                        .block{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
//eind media query 480px

//begin media query 320px
@media screen and (max-width: 320px) {
    .page-template-astrologisch{
        .row{
            &.instructions{
                .full-row{
                    .blocks-container{
                        padding: 45px 13px 33px;
                    }
                }
            }
        }
    }
}
//eind media query 320px