//begin 1024px media query
@media screen and (max-width: 1024px) {
    .page-template-contact{
        #main-header{
            .row{
                &.header{
                    .full-row{
                        .blocks-container-navbar{
                            .logo{
                                a{
                                    right: 20px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .row{
            &.contact-pagina{
                &:before{
                    width: 70%;
                    background-size: 100% 100%;
                }
                .full-row{
                    &:before{
                        background-size: 100% 100%;
                    }
                    .blocks-container{
                        right: unset;
                        .block{
                            &.content-upper{
                                left: 40px;
                            }
                            &.content-lower{
                                top: 250px;
                                left: -140px;
                                .days{
                                    padding: 0px 210px 0px 0px;
                                }
                                .street{
                                    padding: 0px 210px 0px 0px;
                                }
                            }
                            .facebook-dash{
                                left: 25px;
                                top: 820px;
                            }
                            &.form{
                                width: 90%;
                                left: unset;
                                bottom: -20px;
                                &:before{
                                    left: 770px;
                                    top: 590px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind 1024px media query 

//begin media query 768px
@media screen and (max-width: 768px){
    .page-template-contact{
        .row{
            &.contact-pagina{
                .full-row{
                    &:before{
                        left: -110px;
                        top: -30px;
                    }
                    .blocks-container{
                        .block{
                            &.content-upper{
                                .upper{
                                    width: 55%;
                                }
                            }
                            &.content-lower{
                                top: 270px;
                                left: -100px;
                                .title{

                                }
                                .days{
                                    padding: 0px 50px 0px 0px;
                                }
                                .street{
                                    padding: 0px 50px 0px 0px;
                                }
                            }
                            &.form{
                                &:before{
                                    display: none;
                                }
                                .wpcf7{
                                    .wpcf7-form{
                                        .button{
                                            &:before{
                                                left: 25px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .facebook-dash{
                            top: 900px;
                            left: 30px;    
                        }
                    }
                }
            }
        }
    }
}
//eind media query 768px

//begin media query 480px
@media screen and (max-width: 480px){
    .page-template-contact{
        .row{
            &.contact-pagina{
                position: relative;
                &:before{
                    width: 100%;
                    position: fixed;
                }
                .full-row{
                    &:before{
                        width: 130%;
                        position: absolute;
                    }
                    .blocks-container{
                        .block{
                            width: 100%;
                            &.content-upper{

                            }
                            &.content-lower{
                                top: 350px;
                                left: 40px;
                            }
                            &.form{
                                left: unset;
                                bottom: -290px;
                                right: -10px;
                                &:before{
                                    display: none;
                                }
                                .wpcf7{
                                    .wpcf7-form{
                                        .form-fields{
                                            .input{
                                                width: 95%;
                                                padding-right: unset;
                                                &.top{
                                                    &.right{
                                                        input{
                                                            margin-left: unset;
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                        .button{
                                            width: 35%;
                                        }
                                    }
                                }
                            }
                        }
                        .facebook-dash{
                            top: 1020px;
                            left: 10px;   
                        }
                    }
                }
            }
        }
    }
}
//eind media query 480px

//begin media query 320px
@media screen and(max-width: 320px) {
    .page-template-contact{
        .row{
            &.contact-pagina{
                .full-row{
                    .blocks-container{
                        .block{
                            &.content-upper{
                                left: 20px;
                                .upper{
                                    width: 100%;
                                }
                                .lower{
                                    width: 100%;
                                }
                            }
                            &.content-lower{   
                                left: 20px;
                            }
                            &.form{
                                bottom: -340px;
                                right: -20px;
                                &:before{
                                    display: none;
                                }
                                .wpcf7{
                                    .wpcf7-form{
                                        .form-fields{
                                            .input{
                                                &.top{
                                                    &.left{
                                                        input{
                                                            width: 92%;
                                                        }
                                                    }
                                                    &.right{
                                                        input{
                                                            width: 92%;
                                                        }
                                                    }
                                                }
                                            }
                                            .middle{
                                                width: 92%;
                                            }
                                        }
                                        .button{
                                            width: 45%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind media query 320px