@media screen and (max-width: 1024px) {
  .page-template-akasha-kronieken-cursus {
    .row.options {
      .full-row {
        .blocks-container {
          .block {
            .option-wrapper {
              padding: 36px 30px 60px 30px;

              .price {
                left: 35px;
                right: 35px;
              }
            }
          }
        }
      }
    }

    .row.akasha-cursus {
      .full-row {
        .blocks-container {
          .block:first-child {
            width: 46%;
            margin-right: 4%;

            .main-image {
              margin-left: auto;

            }
          }
        }
      }
    }

    .row.options {
      .full-row {
        .blocks-container {
          margin-bottom: 0;

          .block {
            width: 100%;
            margin-bottom: 85px;

            &.white-space {
              display: none;
            }

            .option-wrapper {
              .price {
                left: 185px;
                right: 185px;
              }
            }
          }
        }
      }
    }
  }
}
//eind media query 1024

//begin media query 768px
@media screen and(max-width: 768px) {
  .page-template-akasha-kronieken-cursus {
    .row.product {
      .full-row {
        .blocks-container {
          .block:last-child {
            width: 50%;
            margin: 0;

          }
        }
      }
    }
  }
}
//eind media query 768px

//begin media query 480px
@media screen and (max-width: 480px) {
  .page-template-akasha-kronieken-cursus .row.product .full-row .blocks-container .block {
    width:100%;
    margin: 100px 0px;
    &:last-child {
      display:none;
    }
  }
  .page-template-akasha-kronieken-cursus .row.info .full-row .blocks-container .block {
    margin:auto;
  }
  .page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block .option-wrapper .price {
    left: 75px;
    right: 75px;
  }
  .page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container {
    .block, .block:first-child {
      width: 100%;
      margin: 0;

      .main-image {
        width: 100%;
      }
    }
  }
}
//eind media query 480px

//begin media query 320px
@media screen and (max-width: 320px) {
  .page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block .option-wrapper {
    margin:0;
    width:100%;
    .price {
      left: 5px;
      right: 5px;
    }
  }
  .page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block:first-child .main-image {
    height: 240px;
  }
  .page-template-akasha-kronieken-cursus .row.product .full-row .blocks-container {
    margin:0;
    .block {
      margin:0;
    }
  }
}
//eind media query 320px
