
@media screen and (max-width: 1024px) {
  .parent-pageid-27 {
    .row.instructions .full-row .blocks-container {
      padding: 24px 0px 3px;
    }

  }
}
//eind media query 1024

//begin media query 768px
@media screen and(max-width: 768px) {

}
//eind media query 768px

//begin media query 480px
@media screen and (max-width: 480px) {
  .parent-pageid-27 {
    .row.instructions .full-row .blocks-container .block {
      width:100%;
      margin:0;
      &:first-child {
        text-align:center;
      }
    }
  }
}
//eind media query 480px

//begin media query 320px
@media screen and (max-width: 320px) {
  .parent-pageid-27 .row.instructions .full-row .blocks-container .block {
    padding: 0 10px;
  }
}
//eind media query 320px
