@media screen and (max-width: 1024px) {
    #main-footer{
        .row{
            &.footer{
                .full-row{
                    .blocks-container{
                        .block{
                            &.logo{
                                width: 50%;
                                .logo{
                                    left: 150px;
                                }
                            }
                            &.intel{
                                width: 50%;
                                .city {
                                    width:auto;
                                }
                            }
                            &.location{
                                width: 98%;
                                margin-top: 100px;
                                .content{
                                    width: 28%;
                                    position: relative;
                                    left: 10%;
                                    top: 20px;
                                    line-height: 3;
                                    padding: 0px;
                                    .open{
                                        padding-right: 80px;
                                    }
                                    .location{
                                        padding: 0px 20px 0px 0px;
                                    }
                                }
                                .maps{
                                    height: 302px;
                                    width: 59%;
                                    float: right;
                                    margin-left: unset;
                                    background-size: cover;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind media query 1024

//begin media query 768px
@media screen and(max-width: 768px) {
    #main-footer{
        .row{
            &.footer{
                .full-row{
                    .blocks-container{
                        .block{
                            &.logo{
                                .logo{
                                    left: 40px;
                                }
                            }
                            &.content{
                                width: 38%;
                            }
                            &.location{
                                width: 95%;
                                .content{
                                    width: 50%;
                                    p{
                                        width: 70%;
                                    }
                                    h2{
                                        width: 70%;
                                    }
                                    .open{
                                        padding-right: unset;
                                    }
                                }
                                .maps{
                                    width: 50%;
                                    float: left;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind media query 768px

//begin media query 480px
@media screen and (max-width: 480px) {
    #main-footer{
        .row{
            &.footer{
                .full-row{
                    .blocks-container{
                        .block{
                            &.logo{
                                width: 100%;
                                top: 0px;
                            }
                            &.intel{
                                width: 70%;
                                left: 60px;
                            }
                            &.location{
                                padding: 10px 15px 30px 15px;
                                .content{
                                    width: 100%;
                                    left: unset;
                                    top: unset;
                                    text-align: center;
                                    .title{
                                        width: 100%;
                                    }
                                    .open{
                                        width: 100%;
                                    }
                                    .location{
                                        width: 100%;
                                        &.postal{
                                            margin-bottom: 10px;
                                        }
                                    }
                                }
                                .maps{
                                    width: 100%;
                                    background-size: contain;
                                    background-position: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind media query 480px

//begin media query 320px
@media screen and (max-width: 320px) {
    #main-footer{
        .row{
            &.footer{
                .full-row{
                    .blocks-container{
                        .block{
                            &.logo{
                                .logo{
                                    left: -10px;
                                }    
                            }
                            &.intel{
                                width: 100%;
                                left: unset;     
                            }
                            &.location{
                                position: relative;
                                right: 10px;
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind media query 320px
