@media screen and (max-width: 1024px) {

    #main-header {
        .row {
            &.header {
                .full-row {
                    .blocks-container-navbar {
                        .menu-main-menu-container {
                            display: none;
                        }
                    }
                }
            }
        }
    }

}