@media screen and (max-width: 1024px) {

    .page-template-home {
        .row {
            &.home-services {
                .full-row {
                    .blocks-container {
                        @include perfectloop (1, 0, '.article');
                        .article {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
            &.home-video {
                .full-row {
                    .blocks-container {
                        .video {
                            position: relative;
                            display: flex;
                            justify-content: center;
                            margin-bottom: 10px;
                        }
                        .text {
                            width: 100%;
                            float: left;
                            position: relative;
                            margin-top: 0;
                            .content {
                                padding: 10px 30px;
                                button {
                                    display: flex;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
            &.home-reviews {
                .full-row {
                    .blocks-container {
                        @include perfectloop(1, 0, '.review');
                        margin-bottom: 20px;

                    }
                }
            }
            &.contact-events {
                .full-row {
                    .blocks-container {
                        padding: 0;
                        .contact {
                            width: calc(60% - 54px);
                            position: relative;
                            z-index: 1;
                            float: left;
                        }
                        .events {
                            padding: 50px 30px;
                            width: calc(40% - 0px);
                            position: absolute;
                            right: 30px;
                            margin-top: -35px;
                            top: unset; left: unset; float: unset;                          
                        }
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 768px) {

    .page-template-home {
        .row {
            &.aboutme {
                .full-row {
                    .blocks-container {
                        .text {
                            width: 75%;
                        }
                    }
                }
            }
            &.books {
                .full-row {
                    &:after {
                        height: 399px;
                    }
                    .blocks-container {
                        margin-top: 50px;
                        .text-block {
                            margin: 20px 0 0 50px;
                        }
                        .book-image {
                            position: relative;
                            top: 60px;
                            left: 6px;
                        }
                    }
                }
            }
            &.home-posts {
                .full-row {
                    .blocks-container {
                        //@include perfectloop (1, 0, '.item');
                    }
                }
            }
            &.contact-events {
                .full-row {
                    .blocks-container {
                        .events {
                            padding: 50px 72px;
                            position: absolute;
                            right: 30px;
                            margin-top: -21px;
                            h5 {
                                padding-left: 116px;
                                margin: 0;
                                position: relative;
                                top: -13px;
                                margin-bottom: 30px;
                            }
                            .event {
                                width: 230px;
                                height: 60px;
                                margin: 15px auto 15px 105px;
                                h5 {
                                    padding: 0 20px;
                                    margin: 0;
                                    padding-top: 20px;
                                    position: relative;
                                    top: -10px;
                                }
                                .date {
                                    padding: 0;
                                    padding-left: 20px;
                                    position: relative;
                                    top: -8px;
                                }
                            }
                            button {
                                margin: 19px 0 0 110px;
                                position: relative;
                                top: 5px;
                                left: 10px;
                                a {
                                    padding: 10px 5px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }


}


@media screen and (max-width: 480px) {

    .page-template-home {

        .row {
            &.homepage {
                .full-row {
                    .blocks-container {
                        .text {
                            p {
                                font-size: 21px;
                            }
                        }
                    }
                }
            }
            &.aboutme {
                height: 470px;
                &:before {
                    height: 570px;
                }
                .full-row {
                    .blocks-container {
                        .title {
                            width: 390px;
                        }
                    }
                }
            }
            &.books {
                .full-row {
                    .blocks-container {
                        .text-block {
                            margin: 20px 0 0 0;
                            width: 100%;
                        }
                        .book-image {
                            width: 100%;
                            left: unset;
                        }
                    }
                }
            }
            &.home-posts {
                .full-row {
                    .blocks-container {
                        @include perfectloop (1, 0, '.item');
                        .item {
                            text-align: center;
                            margin-bottom: 50px;
                            .img {
                                margin: 0 auto;
                            }
                            .text {
                                padding-bottom: 10px;
                            }
                            button {
                                position: relative;
                                top: unset;left:unset;right:unset;bottom:unset;
                            }
                        }
                    }
                }
            }
            &.contact-events {
                .full-row {
                    .blocks-container {
                        display: block;
                        .contact {
                            width: 100%;
                            padding: 0;
                            .wpcf7 {
                                padding: 20px;
                            }
                        }
                        .events {
                            position: relative;
                            margin-top: 20px;
                            padding: 35px 0;
                            top:unset;left:unset;right:unset;float:unset;
                            width: 100%;
                            h5 {
                                margin: 0;
                                padding-left: unset;
                                top: 10px;
                                margin-bottom: 30px;
                                text-align: center;
                            }
                            .event {
                                width: 230px;
                                height: 60px;
                                margin: 15px auto 15px 105px;
                            }
                            button {
                                margin: 0 auto;
                                display: flex;
                                top: 5px;
                                left: unset;
                            }
                        }
                    }
                }
            }
        }

    }

}


@media screen and (max-width: 375px) {

    #main-header {
        .row {
            &.header {
                .full-row {
                    .blocks-container-navbar {
                        .logo {
                            width: 210px;
                        }
                        #trigger-menu {
                            margin-top: 5px;
                        }
                    }
                }
            }
        }
    }

    .page-template-home {
        .row {
            &.homepage {
                .full-row {
                    .blocks-container {
                        .text {
                            width: 300px;
                        }
                    }
                }
            }
            &.aboutme {
                height: 399px;
                &:before {
                    height: 499px;
                }
                .full-row {
                    .blocks-container {
                        .title {
                            width: 100%;
                            p {
                                font-size: 18px;
                            }
                        }
                        .text {
                            width: 100%;
                            p {
                                font-size: 14px;
                            }
                        }
                        button {
                            position: relative;
                            top: -10px;
                        }
                    }
                }
            }
            &.books {
                .full-row {
                    .blocks-container {
                        .text-block {
                            .content {
                                h2 {
                                    font-size: 24px;
                                }
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            &.home-services {
                .full-row {
                    h3 {
                        font-size: 24px;
                    }
                    .blocks-container {
                        .article {
                            .content {
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            &.contact-events {
                .full-row {
                    .blocks-container {
                        .contact {
                            .wpcf7-form-control-wrap.your-name {
                                input.wpcf7-form-control.wpcf7-text {
                                    width: 100%;
                                    float: unset;
                                }
                            }
                            .wpcf7-form-control-wrap.your-email {
                                input.wpcf7-form-control.wpcf7-text {
                                    width: 100%;
                                    float: unset;
                                }
                            }
                        }
                        .events {
                            h5 {
                                margin: 0;
                                padding-left: unset;
                                top: -6px;
                                margin-bottom: unset;
                            }
                            .event {
                                height: 54px;
                                margin: 0 auto 10px auto;
                                h5 {
                                    padding-top: 15px;
                                }
                            }
                        }
                    }
                }
            }
            &.home-posts {
                margin: 80px 0 0 0;
                .full-row {
                    .blocks-container {
                        .item {
                            .text {
                                padding-bottom: 10px;
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
            &.home-video {
                .full-row {
                    .blocks-container {
                        .text {
                            .content {
                                p {
                                    font-size: 14px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

#main-footer {
    .row {
        &.footer {
            .full-row {
                .blocks-container {
                    .block {
                        &.logo {
                            .logo {
                                left: unset!important;
                                top: unset!important;
                            }
                        }
                    }
                    .block {
                        &.intel {
                            width: 100%!important;
                            left: unset!important;
                        }
                        &.location {
                            width: 100%!important;
                            padding: 0!important;
                            .content {
                                padding: 0!important;
                            }
                        }
                    }
                }
            }
        }
    }
}

}