
@media screen and (max-width: 1024px) {
  .page-template-levensdoelen-en-levenmissies {

    .row.product {

      .full-row {

        .blocks-container {
          margin: 160px 0 150px;

          .block .product-wrapper {
            margin: 30px 0px;

            .block {
              width: 100%;

              &:last-child {
                width: 100%;
                height: 174px;
                margin: 0 32px;

              }
            }
          }
        }
      }
    }
  }
}
//eind media query 1024

//begin media query 768px
@media screen and(max-width: 768px) {
  .page-template-levensdoelen-en-levenmissies {

    .row.product {
      background-size: auto 101%;

      .full-row {

        .blocks-container {
          margin: 126px 0 150px;

        }
      }
    }
    .row.levensdoelen {

      .full-row {

        .blocks-container {
          display: flex;
          flex-direction: column;

          .block, .block:first-child, .block:last-child {
            width: 100%;
            margin: 0;

            .main-image {
              margin-top: -110px;

            }
          }

          .block:last-child {
            order: 1;

          }

          .block:first-child {
            order: 2;

          }
        }
      }
    }
  }
}
//eind media query 768px

//begin media query 480px
@media screen and (max-width: 480px) {
  .page-template-levensdoelen-en-levenmissies {
    .row.levensdoelen {
      .full-row {
        .blocks-container {
          .block, .block:first-child, .block:last-child {
            .main-image {
              height: 390px;

            }
          }
        }
      }
    }

    .row.product {
      .full-row {
        .blocks-container {
          .block {
            width: 100%;

          }

          .block:last-child {
            width: 100%;
            padding-bottom: 40px;

          }
        }
      }
    }

    .row.product {
      background: linear-gradient(#329EB3, #B5CB7A);

      .full-row {
        .blocks-container {
          margin: 100px 0;

        }
      }
    }

    .row.product {
      .full-row {
        .blocks-container {
          .block {
            .product-wrapper {
              .block {
                .image {
                  margin: auto;

                }
              }
            }
          }
        }
      }
    }
  }
}
//eind media query 480px

//begin media query 320px
@media screen and (max-width: 320px) {
  .page-template-levensdoelen-en-levenmissies {
    .row.product .full-row .blocks-container {
      .block:last-child {
        text-align: center;

      }

      .block .product-wrapper .block .info-wrapper {
        bottom: auto;
        position: static;
        margin-top: 10px;
      }
    }
  }
}
//eind media query 320px
