@media screen and (max-width: 1024px) {
    .page-template-opstelling{
        .row{
            &.setup{
                .full-row{
                    .blocks-container{
                        .block{
                            &.image{
                                .image{
                                    right: 20px;
                                }
                            }
                        }
                    }
                }
            }
            &.grey-swipe{
                margin-top: 50px;
                height: 700px;
                .full-row{
                    .blocks-container{
                        .block{
                            &.left{
                                right: unset;
                                top: 50px;
                                &.top{
                                    .content{
                                        position: relative;
                                        top: 10px;
                                    }
                                }
                                &.bottom{
                                    width: 100%;
                                    text-align: center;
                                    .content{
                                        padding-right: unset; 
                                    }
                                }
                            }
                            &.right{
                                top: 39px;
                                left: unset;
                                margin-bottom: unset;
                            }
                            &.consulting{
                                margin-top: 70px;
                                .consult{
                                    height: 220px;
                                    width: 27%;
                                    &.left{
                                        padding: 10px 10px;
                                        margin-left: 17%;
                                        .button{
                                            width: 45%;
                                        }
                                    }
                                    &.right{
                                        margin-left: 10%;
                                        padding: 10px 10px;
                                        .button{
                                            width: 45%;
                                        }
                                    }
                                }
                            }
                        } 
                    }
                }
            }
            &.instructions{
                margin-top: 270px;
            }
        } 
    }
}

//begin media query 768px
@media only screen and (max-width: 768px) {
    .page-template-opstelling{
        .row{
            &.setup{
                .full-row{
                    .blocks-container{
                        .block{
                            width: 100%;
                            // margin-bottom: 100px;
                            &.image{
                                margin-bottom: 50px;
                                .image{
                                    right: unset;
                                    background-position: center;
                                }
                            }
                            &.content{
                                .upper{
                                    text-align: center;
                                    margin-bottom: 50px;
                                }
                                .lower{
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
            &.grey-swipe{
                .full-row{
                    .blocks-container{
                        .block{
                            &.left{
                                top: 40px;
                                &.top{
                                    .content{
                                        top: 10px;
                                    }
                                }
                                &.bottom{
                                    top: unset;
                                }
                            }
                            &.consulting{
                                margin-top: unset;
                                .consult{
                                    width: 33%;
                                    height: 260px;
                                    &.left{
                                        margin-left: 8%;
                                    }
                                }
                            }
                        }
                    }
                }

            }
            &.instructions{
                margin-top: 300px;
                .full-row{
                    .blocks-container{
                        .block{
                            padding: unset;
                        }
                    }
                }
            }
        }
    }
}
//eind media query 768px

//begin media query 480px
@media only screen and (max-width: 480px) {
    .page-template-opstelling{
        .row{
            &.setup{
                .full-row{
                    .blocks-container{
                        margin-top: unset;
                        .block{
                            &.image{
                                margin-bottom: unset;
                            }
                        }
                    }
                }
            }
            &.grey-swipe{
                height: 1050px;
                .full-row{
                    .blocks-container{
                        .block{
                            
                            &.left{
                                width: 100%;
                                &.top{
                                    text-align: center;
                                    top: unset;
                                    .content{
                                        padding-right: unset;
                                    }
                                }
                                &.bottom{
                                    text-align: center;
                                    p{
                                        text-align: center;
                                    }
                                }
                            }
                            &.right{
                                width: 100%;
                                text-align: center;
                                top: unset;
                                p{
                                    text-align: center;
                                }
                            }
                            &.consulting{
                                .consult{
                                    width: 95%;
                                    height: 180px;
                                    &.left{
                                        margin-left: unset;
                                        margin-bottom: 60px;
                                    }
                                    &.right{
                                        margin-left: unset;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.instructions{
                margin-top: 500px;
                .full-row{
                    .blocks-container{
                        .block{
                            width: 100%;
                            .wysiwyg{
                                padding-right: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind media query 480px

//begin media query 320px
@media only screen and (max-width: 320px) {
    .page-template-opstelling{
        .row{
            &.setup{
                .full-row{
                    .blocks-container{
                        .block{
                            &.image{
                                height: 273px;
                            }
                        }
                    }
                }
            }
            &.grey-swipe{
                height: 1450px;
                .full-row{
                    .blocks-container{
                        .block{
                            &.consulting{
                                .consult{
                                    height: 240px;
                                    &.left{
                                        .title{
                                            text-align: center;
                                            width: 70%;
                                            display: block;
                                            margin: 0 auto;
                                        }
                                    }
                                    &.right{
                                        .title{
                                            text-align: center;
                                            width: 70%;
                                            display: block;
                                            margin: 0 auto;
                                        }
                                        .button{
                                            //top: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.instructions{
                .full-row{
                    .blocks-container{
                        width: 104%;
                        padding: 45px 23px 33px;
                        .block{
                            .wysiwyg{
                                p{
                                    padding-right: unset;
                                }
                            }
                        }
                    }
                }
            }
        }
    } 
}
//eind media query 320px