
@media screen and (max-width: 1024px) {
  .single-product {
    .content-area {
      .site-main {
        .product {
          .woocommerce-product-gallery__image {
            float: none;
            margin: auto;

          }

          .image-1 {
            display: none;

          }

          .image-2 {
            display: none;

          }

          .image-3 {
            display: none;

          }

          .summary {
            .cart {
              button.button {
                padding: 11px 16px;

              }
            }
          }
        }
      }
    }
  }
}
//eind media query 1024

//begin media query 768px
@media screen and(max-width: 768px) {
  .single-product {
    .content-area {
      .site-main {
        .product {
          .summary {
            margin: 0 60px 2em;
            width: calc(100% - 120px);

            h1 {
              width:100%;

            }

            .woocommerce-product-details__short-description {
              width:100%;

            }

            .cart {
              button.button {
                float:right;
                padding: 11px 50px;

              }
            }
          }
        }
      }
    }
  }
}
//eind media query 768px

//begin media query 480px
@media screen and (max-width: 480px) {
  .single-product {
    .content-area {
      .site-main {
        .product {
          .summary {
            .cart {
              width:100%;

              button.button {
                float:right;
                padding: 11px 50px;

              }
            }

            .product_meta {
              width:100%;
              margin:0;

            }
          }
          .woocommerce-tabs {
            ul.tabs {
              align-content: center;
              align-items: center;
              flex-direction: column;
              text-align: center;

              li {
                margin-bottom: 20px;

              }
            }
          }
        }
      }
    }
  }
}
//eind media query 480px

//begin media query 320px
@media screen and (max-width: 320px) {
  .single-product {
    .content-area {
      .site-main {
        .product {
          margin: 70px 0 140px;

          .summary {
            margin: 0 40px 2em;
            width: calc(100% - 80px);

            .cart {
              button.button {
                padding: 11px 20px;

              }
            }
          }
          .woocommerce-tabs .woocommerce-Tabs-panel {
            padding-left: 20px;

          }
        }
      }
    }
  }
}
//eind media query 320px

