//begin media query 1024px
@media screen and (max-width: 1024px) {
    .page-template-workshop{
        .row{
            &.top{
                .full-row{
                    .blocks-container{
                        .block{
                            &.content{
                                margin-top: 21%;
                                position: relative;
                                left: 10%;
                            }
                        }
                    }
                }
            }
            &.green{
                .full-row{
                    .blocks-container{
                        margin-top: 150px;
                    }
                }
            }   
            &.after-green{
                .full-row{
                    .blocks-container{
                        .block{
                            &.content{
                                left: 50px;
                                p{
                                    padding: 0px 110px 0px 0px;
                                }
                            }
                        }
                    }
                }
            } 
            &.questions{
                .full-row{
                    .blocks-container{
                        .block{
                            &.questions{
                                .content{
                                    padding: 0px 30px 0px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind media query 1024px

//begin media query 768px
@media screen and (max-width: 768px){
    .page-template-workshop{
        .row{
            &.top{
                .full-row{
                    .blocks-container{
                        .block{
                           &.content{
                                .title{
                                   padding: 0px 60px 0px 0px;
                                }
                                .content{
                                    padding: 0px 60px 0px 0px;
                                    line-height: 1.3;
                                } 
                            }
                            &.image{
                                position: relative;
                                left: 30px;
                            } 
                        }
                    }
                }
            }
            &.green{
                .full-row{
                    .blocks-container{
                        line-height: 1.3;
                        padding-left: 40px;
                    }
                }
            }
            &.after-green{
                .full-row{
                    .blocks-container{
                        .block{
                            &.content{
                                .title{
                                    padding: 0px 110px 0px 0px;
                                }
                                p{
                                    line-height: 1;
                                }
                            }
                        }
                    }
                }
            }
        }    
    }
}
//eind media query 768px;

//begin media query 480px
@media screen and (max-width: 480px){
    .page-template-workshop{
        .row{
            &.top{
                .full-row{
                    .blocks-container{
                        margin-bottom: 50px;
                        .block{
                            &.content{
                                width: 100%;
                                text-align: center;
                                left: unset;
                                .title{
                                    padding: unset;
                                }
                                .content{
                                    padding: unset;
                                }
                            }
                            &.image{
                                width: 100%;
                                height: 305px;
                            }
                        }
                    }
                }
            }
            &.green{
                background-size: 148% 1150px;
                height: 1127px;
                .full-row{
                    .blocks-container{
                        // line-height: 1;
                        padding: unset;
                        .block{
                            width: 100%;
                            float: left;
                            &.left-content{ 
                                .content{
                                    padding: unset;
                                    line-height: 1.4;
                                }
                            }
                            &.right-content{
                                .right{
                                    padding: unset;
                                    line-height: 1.4;
                                }
                            }
                        }
                    }
                }
            }
            &.after-green{
                .full-row{
                    .blocks-container{
                        .block{
                            &.image{
                                width: 100%;
                            }
                            &.content{
                                width: 100%;
                                left: unset;
                                .title{
                                    padding: unset;
                                    text-align: center;
                                }
                                .content-1{
                                    padding: unset;
                                    text-align: center;
                                    line-height: 1.4;
                                }
                                .content-2{
                                    padding: unset;
                                    text-align: center;
                                    line-height: 1.4;
                                }
                            }
                        }
                    }
                }
            }
            &.questions{
                .full-row{
                    .blocks-container{
                        .block{
                            &.questions{
                                .title{
                                    text-align: center;
                                }
                                .content{
                                    padding: unset;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
//eind media query 480px

//begin media query 320px
@media screen and (max-width: 320px){
    .page-template-workshop{
        .row{
            &.top{
                .full-row{
                    .blocks-container{
                        .block{
                            &.image{
                                height: 225px;
                                left: 20px;
                            }
                        }
                    }
                }
            }
            &.green{
                background-size: cover;
                height: 1280px;
                .full-row{
                    .blocks-container{

                    }
                }
            }
        }
    }
}
//eind media query 320px