.error404 {

  .row {

    &.error-row {

      .full-row {

        .blocks-container {

          width: 100%;
          float:left;

          .block {

            width: 50%;
            float:left;

            .error-wrapper {
              width: 58%;
              text-align:center;
              margin:auto;
            }
            h2 {
              color: $grey;
            }

            .services-wrapper {
              width: 85%;
              margin: 102px auto 0;
              .services {
                margin-left:0;
                margin-top: 35px;
              }
            }

          }

          .block:last-child {

            width: calc(50% - 190px);
            margin-right: 190px;

          }

        }

      }

    }

  }

}
