.page-template-about-me {
  p {
    color: #707070;
  }
  .row {
    float:left;
    width:100%;
    &.about-me {
      .full-row {
        .blocks-container {
          margin-top: 182px;
          margin-bottom: 242px;
          float:left;
          width:100%;
          position:relative;
          .block {
            width: calc(50% - 50px);
            float:left;
            margin-right: 50px;
            .main-image {
              padding-top:100px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              padding-bottom:80px;
              .about-me-image {
                background-repeat: no-repeat;
                background-position: center;
                width: 70%;
                margin-left: 11%;
                margin-right: 19%;
                border-radius: 20px;
              }
            }
            .block-content {
              padding-top: 50px;
            }
          }
          .block:last-child {
            margin-right: 0;
            margin-left: 50px;
          }
        }
      }
    }
    &.book {
      .full-row {
        .blocks-container {
          float:left;
          width:100%;
          margin-bottom: 110px;
          position:relative;
          .block {
            float:left;
            width:calc(50% - 100px);
            margin-left:100px;
            .book-image {
              .image-backlayer {
                width: calc(100% - 128px);
                background-repeat: no-repeat;
                background-position:center;
                background-size: contain;
                margin-top: -50px;
                margin-left: 128px;
              }
              .image {
                width:100%;
                background-repeat: no-repeat;
                background-position:center;
                background-size: contain;
                margin-top: -333px;
                position:relative;
                .image-dot {
                  position: absolute;
                  width: 120px;
                  height: 120px;
                  bottom: 28px;
                  left: 22%;
                  background: linear-gradient(45deg ,$gradient_orange);
                  border-radius: 65px;
                }
              }
            }
          }
          .block:last-child {
            width: calc(50% - 44px);
            margin-left: 44px;
          }
        }
      }
    }
    &.reviews {
      padding: 125px 0 95px;
      background: linear-gradient(to right, $blue, $green);
      .full-row {
        .blocks-container {
          float:left;
          width:100%;
          position:relative;
          .block {
            float:left;
            width:50%;
            .review-image {
              position:relative;
              margin-left: 65px;
              .image-backlayer {
                width: 76%;
                position: relative;
                border-radius: 20px;
                z-index: 1;
                bottom: 0;
                left: 0;
                background: rgba(255, 255, 255, 0.35);
                margin-left: -13px;
                margin-bottom: -7px;
              }
              .image {
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                width:78%;
                border-radius: 20px;
                z-index: 2;
                position:absolute;
                bottom:0;
                left:0;
              }
            }
            .block-content {
              .wysiwyg {
                &.edit{
                  position: relative;
                  top: 80px;
                  p {
                    color: $white;
                  }
                }
              }
            }
          }
          .block:last-child {
            width: 35%;
            margin-right:15%;
            margin-top:-50px;
          }
        }
      }
    }
    &.quote {
      .full-row {
        .blocks-container {
          margin: 168px 50% 109px 15%;
          .block {
            .quote {
              text-align:center;
            }
          }
        }
      }
    }
    &.summary {
      padding: 99px 0 69px;
      background: linear-gradient($gradient_orange);
      .full-row {
        .blocks-container {
          margin:0;
          .block {
            width:calc(50% - 120px);
            margin: 0 60px 0 60px;
            float:left;
            .wysiwyg {
              p {
                color: $white;
              }
            }
            .block-content{
              &.right{
                .wysiwyg{
                  line-height: 1.3;
                }
              }
            }
            .big-image {
              margin-left: 100px;
              .image {
                margin: -371px auto 48px;
                background-repeat: no-repeat;
                background-position: right;
                background-size: cover;
              }
            }
          }
          .block:last-child {
            width:calc(50% - 120px);
            margin: 0 90px 0 30px;
          }
        }
      }
    }
  }
}

.row {
  &.contact {
    .full-row {
      .blocks-container {
        float:left;
        width:100%;
        margin: 165px 0 100px;
        .block {
          width:50%;
          float:left;
          .title-content {
            position:relative;
            height: 83px;
            .main {
              background-image: url("/helena/wp-content/uploads/2019/06/Rectangle-111.png");
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              left: -377px;
              width:855px;
              height: 66px;
              bottom:0;
              z-index:2;
              p {
                font-size: 25px;
                font-weight: bold;
                display: block;
                position: absolute;
                right: 56px;
                color: $white;
                margin: 14px 0;
              }
            }
            .secondary {
              background-image: url("/helena/wp-content/uploads/2019/06/Rectangle-110.png");
              background-repeat: no-repeat;
              background-position: center;
              position: absolute;
              left: -302px;
              width: 811px;
              height: 47px;
              top:0;
              z-index:1;
            }
          }
          .block-content {
            .services{
              a{
                li{
                  padding-top: 7px;
                }
              }
            }    
          }
          .contact {
            margin-right: 108px;
            margin-top: 160px;
            .wpcf7-response-output {
              display: none !important;
            }
            .wpcf7-form {
              margin:auto;
              width: 336px;
              p {
                margin:0 0 14px;
              }
              h3 {
                color: $white;
                text-align:center;
                margin-bottom: 17px;
                font-size: 19px;
              }
            }
            .wpcf7-form-control-wrap {
              input.wpcf7-form-control.wpcf7-text {
                width:100%;
                height: 35px;
                box-sizing: border-box;
                border-radius: 14px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.15);
                padding: 3px 23px;
                margin-bottom: 14px;
              }
              textarea {
                width:100%;
                height: 160px;
                box-sizing: border-box;
                border-radius: 14px;
                box-shadow: 0 3px 6px rgba(0,0,0,0.15);
                padding: 11px 23px;
                margin-bottom: 18px;
              }
            }
            .wpcf7-submit {
              margin-top: -12px;
              float:right;
              line-height:10px;
              font-size:12px;
              color: $grey;
              font-family: $ubuntu;
              padding: 9px 37px 9px;
              border-radius:18px;
              border: 2px solid $orange;
              background-color: $white;
              transition: 0.2s;
              &:hover {
                background-color: $orange;
                color: $white;
                border: 2px solid $white;
                transition: 0.2s;
              }
            }
          }
        }
        .block:last-child {
          background-image: url("/helena/wp-content/uploads/2019/06/Group-78.png");
          background-repeat: no-repeat;
          background-position: center;
          height:650px;
          margin-top: -110px;
        }
      }
    }
  }
}
