.page-template-akasha-kronieken-cursus {
  h2 {
    font-size: 26px;
  }
  .row {
    width:100%;
    float:left;
    &.akasha-cursus {
      .full-row {
        .blocks-container {
          margin: 122px 0px 35px;
          float: left;
          width: 100%;
          .block {
            width:50%;
            float:left;
            .main-image {
              height: 483px;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              margin-top: -20px;
              margin-left: -75px;
            }
            .main-content {
              h2 {
                margin-bottom: 18px;
                &.leer {
                  font-size: 20px;
                }
              }
              .wysiwyg {
                p {
                  font-size: 16px;
                  line-height: 20px;
                }
              }
              .possibilties {
                .list {
                  list-style-type: circle;
                  list-style-image: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
                  margin: 0 0 1.5em 1.7em;
                  li {
                    display:list-item;
                    font-family: $archivo;
                    font-size:20px;
                    font-style: italic;
                    color:$blue;
                    margin-bottom:15px;
                    list-style-image: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
                  }
                }
              }
            }
          }
          .block:first-child {
            width: calc(50% - 154px);
            margin-right: 154px;
          }
        }
      }
    }
    &.product {
      background-image: url("/helena/wp-content/uploads/2019/06/Group-176.png");
      height: 982px;
      padding: 150px 0;
      box-sizing: border-box;
      margin-bottom: 78px;
      .full-row {
        .blocks-container {
          float: left;
          width: 100%;
          margin: 30px 0px;
          .block {
            width:50%;
            float:left;
            margin: 106px 0px;
            .image {
              margin:auto;
            }
            .product-content {
              h2 {
                color:$white;
                font-size: 30px;
              }
              .wysiwyg {
                p {
                  color: $white;
                  line-height: 25px;
                }
              }
            }
          }
          .block:last-child {
            width: 42%;
            float: left;
            margin: 0 0 0 8%;
          }
        }
      }
    }
    &.info {
      .full-row {
        .blocks-container {
          margin-bottom: 299px;
          .block {
            width:77%;
          }
        }
      }
    }
    &.options {
      background-image: url("/helena/wp-content/uploads/2019/06/Path-342.png");
      background-repeat: no-repeat;
      margin-bottom: 150px;
      .full-row {
        max-width: 1614px;
        margin-top: -60px;
        .blocks-container {
          width:100%;
          float:left;
          margin-bottom: 150px;
          &:last-child {
            margin-bottom: 20px;
          }
          @include matchheight();
          .centering-div {
            @include matchheight();
          }
          .block {
            width:33.3%;
            float:left;
            position:relative;

            .option-wrapper {
              width: 74%;
              height: 100%;
              margin:auto;
              padding: 36px 60px 60px 60px;
              box-sizing: border-box;
              box-shadow: 0 0 25px rgba(0,0,0,0.15);
              background-color: $white;

              text-align:center;
              h2 {
                line-height: 30px;
                margin: 0 0 50px;
              }
              p {
                font-size:20px;
                line-height: 25px;
                color: #B4B4B4;
                position:relative;
                &:after {
                  content: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
                  position:absolute;
                  left: -14px;
                  top: 2px;
                }
              }
              .price {
                position: absolute;
                left: 115px;
                right: 115px;
                bottom: -38px;
                font-size: 30px;
                font-family: $ubuntu;
                font-weight: bold;
                line-height: 35px;


                background: linear-gradient(to bottom, $gradient_orange);
                border-radius: 41px;
                color: $white;
                padding: 20px 0 19px;
                span {
                  font-size: 18px;
                }
              }
            }
            &.white-space {
              width:16.65%;
            }
          }
        }
      }
    }
    //&.instructions {
    //  margin-bottom: 30px;
    //  .full-row {
    //    .blocks-container {
    //      width:94%;
    //      margin:auto;
    //      background:linear-gradient(to left, $gradient_orange);
    //      padding: 45px 63px 33px;
    //      box-sizing: border-box;
    //      box-shadow: 0 3px 6px rgba(0,0,0,0.15);
    //      border-radius: 13px;
    //
    //      color: $white;
    //      font-size: 18px;
    //      @include matchheight();
    //      .block {
    //        width: 49.7%;
    //        padding: 0 50px;
    //        box-sizing: border-box;
    //        display:inline-block;
    //        h2 {
    //          margin: 0 0 24px;
    //          color: $white;
    //        }
    //        ul {
    //          margin-left: 31px;
    //        }
    //        li {
    //          position:relative;
    //          font-size: 18px;
    //          display:list-item;
    //          margin-bottom: 10px;
    //          font-family: $archivo;
    //          &:before {
    //            content: "\f0da";
    //            font-family: FontAwesome;
    //            color: $white;
    //            font-size: 20px;
    //            margin-left: -1.5em;
    //            position:absolute;
    //            top:-2px;
    //            left:0;
    //          }
    //        }
    //        .wysiwyg {
    //          p {
    //            color: $white;
    //            strong {
    //              font-size: 20px;
    //            }
    //          }
    //        }
    //        &.more-services {
    //          h2 {
    //            margin: 0 0 24px 31px;
    //          }
    //        }
    //      }
    //    }
    //  }
    //}
  }
}
