.page-template-Akasha-Kronieken-Opstellingen {
  .row {
    float: left;
    width: 100%;

    &.akasha-opstelling {

      margin-top: 100px;

      img {
        height: auto;
        max-width: 90%;
      }

      .full-row {
        .afbeelding {
          float: left;
          width: 656px;
          height: 483px;
        }

        .blok {
          font-size: 16px;
          width: 50%;
          float: left;
          position: relative;
          left: 115px;
        }

        .blok2 {
          font-size: 16px;
          width: 50%;
          float: left;
          margin-top: 65px;
          position: relative;
          left: 115px;
        }
      }
    }

    &.mid_container {
      background-image: url("http://localhost:1337/helena/wp-content/uploads/2019/06/Path-342.png");
      margin-top: 150px;
      height: 630px;
      margin-bottom: 250px;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 104%;

      .full-row_mid {
        .blok {
          font-size: 16px;
          width: 42%;
          float: left;
          margin-left: 293px;
          margin-top: 120px;
        }

        .blok2 {
          font-size: 16px;
          width: 37%;
          float: right;
          margin-top: 124px;
          position: relative;
          right: 163px;
        }

        .blok3 {
          font-size: 16px;
          width: 43%;
          float: left;
          margin-left: 288px;
          margin-top: 79px;
        }
      }
    }

    &.bottom_container {
      .full-row {
        max-width: 990px;
        margin-top: -300px;

        .blocks-container {
          width: 100%;
          float: left;
          margin-bottom: 150px;

          &:last-child {
            position: relative;
            bottom: 20px;
            right: 70px;
          }

          @include matchheight();

          .centering-div {
            @include matchheight();
          }

          .blok {
            margin-left: -250px;
            width: 97.3%;
            float: left;
            left: 63px;
            bottom: -19px;
            position: relative;

            .option-wrapper {
              width: 39%;
              height: 79%;
              margin: auto;
              padding: 36px 60px 60px 60px;
              box-sizing: border-box;
              box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
              background-color: #fff;
              text-align: center;
              h2 {
                line-height: 30px;
                margin: 0 0 50px;
              }

              p {
                font-size: 20px;
                line-height: 25px;
                color: #B4B4B4;
                position: relative;

                &:after {
                  content: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
                  position: absolute;
                  left: -14px;
                  top: 2px;
                }
              }

              .price {
                position: absolute;
                left: 405px;
                right: 406px;
                bottom: 9px;
                font-size: 30px;
                font-family: 'Ubuntu', sans-serif;
                font-weight: bold;
                line-height: 35px;
                background: linear-gradient(to bottom, #e95929, #ec8f46);
                border-radius: 41px;
                color: #fff;
                padding: 20px 0 19px;
              }
            }

            &.white-space {
              width: 16.65%;
            }
          }

          .blok2 {
            width: 97.3%;
            float: left;
            //height: -76%;
            left: 295px;
            bottom: 237px;
            position: relative;

            .option-wrapper {
              width: 38%;
              height: 79%;
              margin: auto;
              padding: 36px 60px 60px 60px;
              box-sizing: border-box;
              box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
              background-color: #fff;
              text-align: center;
              h2 {
                line-height: 30px;
                margin: 0 0 50px;
              }
              p {
                font-size: 20px;
                line-height: 25px;
                color: #B4B4B4;
                position: relative;
                &:after {
                  content: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
                  position: absolute;
                  left: -14px;
                  top: 2px;
                }
              }
              .price {
                position: absolute;
                left: 405px;
                right: 406px;
                bottom: 9px;
                font-size: 30px;
                font-family: 'Ubuntu', sans-serif;
                font-weight: bold;
                line-height: 35px;
                background: linear-gradient(to bottom, #e95929, #ec8f46);
                border-radius: 41px;
                color: #fff;
                padding: 20px 0 19px;
              }
            }

            &.white-space {
              width: 16.65%;
            }
          }
        }
      }
    }
    &.instructions {
      margin-top: -200px;
    }
  }


  /* SMARTPHONES LANDSCAPE */
  // @media only screen and (min-width: 480px) and (max-width: 767px) {}


  // /* TABLETS PORTRAIT */
  // @media only screen and (min-width: 768px) and (max-width: 991px) {}

  // //hier
  // /* TABLET LANDSCAPE / DESKTOP */
  // @media only screen and (min-width: 992px) and (max-width: 1444px) {
  //   .page-template-Akasha-Kronieken-Opstellingen .row.akasha-opstelling .full-row .blok {
  //     font-size: 16px;
  //     width: 43%;
  //     float: left;
  //     position: relative;
  //     left: 115px;
  //   }

  //   .page-template-Akasha-Kronieken-Opstellingen .row.akasha-opstelling .full-row .blok2 {
  //     font-size: 16px;
  //     width: 40%;
  //     float: left;
  //     margin-top: 65px;
  //     position: relative;
  //     left: 115px;
  //   }

  //   .page-template-Akasha-Kronieken-Opstellingen .row.mid_container {
  //     background-image: url(http://localhost:1337/helena/wp-content/uploads/2019/06/Path-342.png);
  //     margin-top: 150px;
  //     height: 630px;
  //     width: 1423px;
  //     margin-bottom: 250px;
  //   }

  //   .page-template-Akasha-Kronieken-Opstellingen .row.mid_container .full-row_mid .blok {
  //     font-size: 16px;
  //     width: 37%;
  //     float: left;
  //     margin-left: 187px;
  //     margin-top: 120px;
  //   }

  //   .page-template-Akasha-Kronieken-Opstellingen .row.mid_container .full-row_mid .blok3 {
  //     font-size: 16px;
  //     width: 38%;
  //     float: left;
  //     margin-left: 180px;
  //     margin-top: 79px;
  //   }
  // }

}