.archive {
  .row {
    &.title {
      width:100%;
      float:left;
      margin: 122px 0 80px;
      .full-row {
        .blocks-container {
          h1 {
            text-align:center;
            font-size: 30px;
            margin-bottom:85px;
            text-shadow: none;
          }
          .block {
            width: 85%;
            float:right;
          }
        }
      }
    }
    &.items {
      width:100%;
      float:left;
      margin-bottom:90px;
      .full-row {
        .blocks-container {
          .block {
            width: 15%;
            float:left;
            margin-top: 133px;
          }
          .block:last-child {
            margin-top:0;
            width: 85%;
            float:left;
          }
        }
      }
    }
  }
  .woocommerce {
    position:relative;
    .woof_products_top_panel {
      position:absolute;
      top: -79px;
    }
    .woocommerce-result-count {
      display:none;
    }
    .woocommerce-ordering {
      text-align-last: right;
      text-align: right;
      -ms-text-align-last: right;
      -moz-text-align-last: right;
      margin-top: -143px;
      select {
        background:transparent;
        border:none;
        height: 47px;
        padding-right: 10px;
        font-family: $ubuntu;
        font-size: 20px;
        font-weight:bold;
        color: $orange;
      }
    }
    ul.products {
      @include matchheight();
      &.columns-3 {
        margin-top: 75px;
      }
      li.product-category {
        width: 100%;
        margin: 0 0 15px;
        a {
          h2 {
            color: $grey;
            .count {
              display:none;
            }
          }
          img {
            display:none;
          }
        }
      }
      li.type-product {
        padding-bottom: 100px;
        a.woocommerce-loop-product__link {
          img {
            width: 65%;
          }
          &:hover h2.woocommerce-loop-product__title {
            color: $orange;
          }
          h2.woocommerce-loop-product__title {
            font-family: $archivo;
            font-size:20px;
            font-weight: normal;
            color: $grey;
            line-height: 22px;
            padding: 0.4em 54px 0.4em 14px;
          }
          .price {
            font-family: $ubuntu;
            font-size:30px;
            font-weight:bold;
            color: $orange;
            line-height: 35px;
            padding: 0 14px;
            position:absolute;
            bottom: 40px;
          }
        }
      }
      a.button {
        margin-left: 14px;
        margin-top: 5px;
        display: inline-block;
        font-family: $archivo;
        font-size: 15px;
        font-weight: 700;
        color: $white;
        background-color: $orange;
        padding: 10px 40px;
        border-radius: 30px;
        transition: .3s all;
        position: absolute;
        bottom: 0;
        &:hover {
          color: $orange;
          background-color: $white;
          transition: .3s all;
        }
      }
    }
  }
  .woof {
    .woof_redraw_zone {
      .woof_text_search_container {
        .woof_container_inner {
          .woof_show_text_search_container {
            position: relative;
            &:before {
              font-family: FontAwesome;
              content: "\f002";
              font-style: normal;
              font-weight: normal;
              text-decoration: inherit;
              /*--adjust as necessary--*/
              color: $orange;
              font-size: 20px;
              padding-right: 0.5em;
              position: absolute;
              top: 10px;
              left: 0;
            }
            input.woof_show_text_search {
              height: 47px;
              padding: 9px 52px !important;
              font-family: $ubuntu;
              font-size:20px;
              font-weight: bold;
              color: $orange;
              position: relative;
              background: transparent;
              width: 30% !important;

              &::placeholder {
                color: $orange;
              }
            }
          }
        }
      }
    }
  }
}
