.row{
    &.upper{
        width: 100%;
        float: left;
        margin-top: 100px;
        .full-row{
            .blocks-container{
                width: 100%;
                float: left;
                margin-bottom: 100px;
                .block{
                    width: 50%;
                    float: left;
                    &.content{
                        .content{
                            line-height: 2;
                            &.top{
                                font-weight: bold;
                            }
                        }    
                    }
                    &.image{
                        height: 560px;
                        width: 50%;
                        .image{
                            height: 100%;
                            width: 100%;
                            background-position: center;
                            background-size: contain;
                            background-repeat: no-repeat;
                        }
                    }
                }
            }
        }
    }
    &.repeater{
        .full-row{
            .blocks-container{
                margin-bottom: 100px;
                // height: 580px;
                float: left;
                width: 100%;
                @include matchheight;
                @include perfectloop(3, 30, '.green_block');
                .green_block{
                    width: 30%;
                    float: left;
                    .content-block{
                        width: 100%;
                        height: 100%;
                        float: left;
                        background-color: $green;
                        .title{
                            padding: 50px 0px 0px 20px;
                        }
                        .content{
                            padding: 15px 15px 15px 20px;
                            color: $white;
                            line-height: 1.7;
                        }
                    }
                    .image-under{
                        width: 100%;
                        float: left;
                        height: 20%;
                        background-repeat: no-repeat;
                        background-size: contain;
                    }
                }
            }
        }
    }
    &.about-helena{
        width: 100%;
        float: left;
        margin-bottom: 100px;
        .full-row{
            .blocks-container{
                .block{
                    &.about{
                        width: 60%;
                        float: left;
                        .content{
                            padding-right: 120px;
                        }
                    }
                    &.life-lesson{
                        width: 30%;
                        float: left;
                        border: 1px solid #e95929;
                        border-radius: 13px;
                        margin-left: 60px;
                        height: 260px;
                        .title{
                            width: 50%;
                            padding: 20px 0px 0px 30px;
                        }
                        .content-lesson{
                            width: 70%;
                            padding-left: 30px;
                        }
                        .price-tag{
                            position: relative;
                            top: 0px;
                            margin: 0 auto;
                            width: 80%;
                            padding: 10px;
                            color: $white;
                            font-size: 35px;
                            text-align: center;
                            background-image: linear-gradient(-180deg, #E95929, #EC8F46);
                            border: 1px solid transparent;
                            border-radius: 44px;
                        }
                    }
                }
            }
        }
    }
    &.instructions{
        .full-row{
            .blocks-container{
                .block{
                    .wysiwyg{
                        p{
                            padding-right: 20px;
                        }
                    }
                }
            }
        }
    }
}