html {
    height: 100%;
}

.page-template-contact {
    #main-header {
        position: absolute!important;
    }
}

.row{
    &.contact-pagina{
        width: 100%;
        float: left;
        height: 100%;
        position: fixed;
        &:before {
            content: '';
            background-repeat: no-repeat;
            background-size: 60% 100%;
            background-position: left;
            width: 100%;
            position: absolute;
            height: 100%;
            left: -30px;
            top: 0px;
            z-index: 0;
            background-image: url('/helena/wp-content/uploads/2019/06/background-wave@2x-1.png');
        }
        .full-row{
            &:before{
                content: '';
                background-repeat: no-repeat;
                background-size: 50% 100%;
                background-position: left;
                width: 100%;
                position: fixed;
                height: 100%;
                left: -110px;
                top: -120px;
                z-index: 1;
                background-image: url('/helena/wp-content/uploads/2019/06/Group-46@2x.png');
            }
            .blocks-container{
                position: relative;
                width: 100%;
                height: 1080px;
                right: 600px;
                .block{
                    &.content-upper{
                        position: relative;
                        z-index: 4;
                        width: 50%;
                        float: left;
                        top: 320px;
                        left: 590px;
                        .upper{
                            line-height: 0.1;
                            width: 51%;
                            float: left;
                            .tel{
                                &:before{
                                    width: 30px;
                                    content: '\f095';
                                    float: left;
                                    font-family: 'FontAwesome';
                                    display: block;
                                    color: $white;
                                }
                            }
                            .email{
                                &:before{
                                    width: 30px;
                                    content: '\f0e0';
                                    float: left;
                                    font-family: 'FontAwesome';
                                    display: block;
                                    color: $white;
                                }
                            }
                            p{
                                color: $white;
                            }
                        }
                        .lower{
                            line-height: 0.1;
                            width: 50%;
                            float: left;
                            i{
                                color: $white;
                            }
                            .street{
                                margin-left: 30px;
                                &:before{
                                    width: 30px;
                                    content: '\f041';
                                    float: left;
                                    font-family: 'FontAwesome';
                                    display: block;
                                    color: $white;
                                    position: absolute;
                                    left: 0px;
                                }
                            }
                            .postal{
                                position: relative;
                                left: 30px;
                            }
                            p{
                                color: $white;
                            }
                        }
                    }
                    &.content-lower{
                        position: relative;
                        z-index: 4;
                        width: 40%;
                        float: left;
                        top: 540px;
                        left: -100px;
                        .title{
                            color: $white;
                            margin-left: 30px;
                        }
                        .days{
                            color: $white;
                            margin-left: 30px;
                            padding: 0px 300px 0px 0px;
                            &:before{
                                width: 30px;
                                content: '\f133';
                                float: left;
                                font-family: 'FontAwesome';
                                display: block;
                                color: $white;
                                position: absolute;
                                left: 0px;
                            }
                        }
                        .street{
                            color: $white;
                            margin-left: 30px;
                            padding: 0px 300px 0px 0px;
                            &:before{
                                width: 30px;
                                content: '\f041';
                                float: left;
                                font-family: 'FontAwesome';
                                display: block;
                                color: $white;
                                position: absolute;
                                left: 0px;
                            }
                        }
                    }
                    &.form{                        
                        position: relative;
                        z-index: 4;
                        left: 800px;
                        float: left;
                        width: 50%;
                        line-height: 0.5;
                        &:before{
                            content: '';
                            background-image: url('/helena/wp-content/uploads/2019/06/Group-47@2x.png');
                            position: absolute;
                            z-index: 3;
                            left: 1270px;
                            width: 50%;
                            height: 50%;
                            background-repeat: no-repeat;
                            background-size: contain;
                            top: 500px;
                        }
                        .wpcf7{
                            .wpcf7-form{
                                width: 100%;
                                float: left;
                                background-color: white;
                                padding: 34px;
                                box-shadow: 2px 2px 10px lightgrey;
                                position: absolute;
                                top: 30px;
                                .form-title{
                                    widows: 100%;
                                    float: left;
                                }
                                .form-fields{
                                    width: 100%;
                                    float: left;
                                    input{
                                        border: 1px solid $colorgrey;
                                        border-radius: 12px;
                                        float: left;
                                        padding: 10px;
                                        &::placeholder{
                                            color: $orange;
                                        }
                                    }
                                    p{
                                        position: relative;
                                        top: 15px;
                                        left: 15px;
                                    }
                                    .input{
                                        width: 45%;
                                        float: left;
                                        padding-right: 30px;
                                        &.top{
                                            &.left{
                                                input{
                                                    width: 100%;
                                                    float: left;
                                                }
                                                .your-name{
                                                    // border: 1px solid $colorgrey;
                                                    width: 100%;
                                                    float: left;
                                                    .wpcf7-not-valid-tip{
                                                        width: 100%;
                                                        float: left;
                                                        position: relative;
                                                        top: 10px;
                                                        left: 10px;
                                                   }
                                                }
                                            }
                                            &.right{
                                                input{
                                                    width: 100%;
                                                    float: left;
                                                    margin-left: 10px;
                                                }
                                                .your-email{
                                                    .wpcf7-not-valid-tip{
                                                        width: 100%;
                                                        float: left;
                                                        position: relative;
                                                        top: 10px;
                                                        left: 20px;
                                                   }
                                                }
                                                p{
                                                    //left: 20px;
                                                }
                                            }
                                        }
                                    }
                                    .middle{
                                        .mid{
                                            width: 98%;
                                            float: left;
                                            .your-subject{
                                                .wpcf7-not-valid-tip{
                                                    width: 100%;
                                                    float: left;
                                                    position: relative;
                                                    top: 10px;
                                                    left: 10px;
                                                }
                                            }
                                            input{
                                                width: 98%;
                                                float: left;
                                            }
                                        }
                                    }
                                    .textarea{
                                        width: 100%;
                                        float: left;
                                        .your-message{
                                            span.wpcf7-not-valid-tip{
                                                width: 100%;
                                                float: left;
                                                position: relative;
                                                left: 10px;   
                                            }
                                        }
                                        textarea{
                                            width: 99%;
                                            // float: left;
                                            border: 1px solid $colorgrey;
                                            border-radius: 12px;
                                            resize: vertical;
                                            height: 180px;
                                            max-height: 360px;
                                            min-height: 100px;
                                            margin-bottom: 10px;
                                            &::placeholder{
                                                color: $orange;
                                                position: relative;
                                                padding: 10px 0px 0px 10px;
                                            }
                                        }
                                    }
                                }
                                .button{
                                    width: 15%;
                                    float: right;
                                    text-align: center;
                                    position: relative;
                                    transition: all 0.6s ease-in-out;
                                    padding: 15px 15px 15px 25px;
                                    background-color: $orange;
                                    border: 1px solid transparent;
                                    border-radius: 25px;
                                    &:hover{
                                        transform: scale(1.1);
                                    }
                                    &:before{
                                        //width: 30px;
                                        content: '\f1d8';
                                        font-family: FontAwesome;
                                        font-style: normal;
                                        font-weight: normal;
                                        text-decoration: inherit;
                                        color: $white;
                                        z-index: 5;
                                        font-size: 15px;
                                        padding-right: 0.5em;
                                        position: absolute;
                                        top: 20px;
                                        left: 30px;
                                    }   
                                    .wpcf7-submit{
                                        width: 100%;
                                        background-color: $orange;
                                        color: $white;
                                        position: relative;
                                        font-size: 15px;
                                        font-weight: bold;
                                    }
                                }
                                .wpcf7-validation-errors{
                                    width: 70%;
                                    float: left;
                                    position: relative;
                                    bottom: 25px;
                                    line-height: 1.5;
                                }
                                .wpcf7-mail-sent-ok{
                                    width: 70%;
                                    float: left;
                                    position: relative;
                                    bottom: 15px;
                                       
                                }
                            }
                        }
                    }
                }
                .facebook-dash{
                    width: 30%;
                    float: left;
                    position: relative;
                    top: 600px;
                    left: 600px;
                    .fa{
                        position: relative;
                        top: 37px;
                        right: 25px;
                        color: $white;
                    }
                    .facebook{
                        position: relative;
                        z-index: 4;
                        color: $white;
                    }
                }
                
            }
        }
    }
}