.parent-pageid-27 {
  .row {
    &.instructions {
      margin-bottom: 30px;

      .full-row {
        .blocks-container {
          width: 94%;
          margin: auto;
          background: linear-gradient(to left, $gradient_orange);
          padding: 45px 63px 33px;
          box-sizing: border-box;
          box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
          border-radius: 13px;

          color: $white;
          font-size: 18px;
          @include matchheight();

          .block {
            width: 49.7%;
            padding: 0 50px;
            box-sizing: border-box;
            display: inline-block;


            h2 {
              margin: 0 0 24px;
              color: $white;
            }

            ul {
              margin-left: 31px;
            }

            li {
              position: relative;
              font-size: 18px;
              display: list-item;
              margin-bottom: 10px;
              font-family: $archivo;

              &:before {
                content: "\f0da";
                font-family: FontAwesome;
                color: $white;
                font-size: 20px;
                margin-left: -1.5em;
                position: absolute;
                top: -2px;
                left: 0;
              }
            }

            .wysiwyg {
              p {
                color: $white !important;

                a {
                  color: $white;
                  text-decoration: none;

                  &:hover {
                    color: $grey;
                  }
                }

                strong {
                  font-size: 20px;
                }
              }
            }

            &.more-services {
              h2 {
                margin: 0 0 24px 31px;
              }

              .instructions-services {
                li {
                  color: $white;

                  &:hover {
                    color: $grey;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

ul.services {
  margin: 110px 0 0 11em;
  a {
    li {
      display: block;
      background: url("/helena/wp-content/uploads/2019/06/Component-4-–-2.png") no-repeat left 4px;
      height: 46px;
      padding-left: 44px;
      padding-top: 3px;
      color: #707070;
      transition:0.2s;
      &:before {
        content: "";
      }
    }
    &:hover li {
      font-weight:bold;
      transition:0.2s;
    }
  }
}
