#main-footer{
    padding: 30px 0px 10px 0;
    background: rgb(50, 158, 179);
    //opacity: .6;
    width: 100%;
    float: left;
    p {
        color: $white;
    }
    .row{
        &.footer{
            width: 100%;
            float: left;
            color: white;
            .full-row{
                max-width: 1345px;
                .blocks-container{
                    position: relative;
                    width: 100%;
                    float: left;
                    .block{
                        &.logo{
                            float: left;
                            width: 27%;
                            position: relative;
                            top: 60px;
                            .logo{
                                background-repeat: no-repeat;
                                height: 60px;
                                width: 275px;
                                position: relative;
                                top: 40px;
                            }
                        }
                        &.intel{
                            width: 30%;
                            float: left;
                            line-height: 1;
                            position: relative;
                            top: 55px;

                            .city {
                                margin: -20px 0 0 50px;
                            }

                            p{
                                width: 100%;
                                font-size: 18px;
                                font-family: $ubuntu;
                            }
                            .tel{
                                padding-left: 20px;
                                height: 15px;
                                &:hover {
                                    color: $orange;
                                    transition: .6s all;
                                    &:before {
                                        color: $orange;
                                        transition: .6s all;
                                    }
                                }
                                &:before{
                                    width: 30px;
                                    content: '\f095';
                                    float: left;
                                    font-family: 'FontAwesome';
                                    display: block;
                                }
                            }
                            .mail{
                                padding-left: 20px;
                                height: 15px;
                                &:hover {
                                    color: $orange;
                                    transition: .6s all;
                                    &:before {
                                        color: $orange;
                                        transition: .6s all;
                                    }
                                }
                                &:before{
                                    width: 30px;
                                    content: '\f0e0';
                                    float: left;
                                    font-family: 'FontAwesome';
                                    display: block;
                                }
                            }
                            .location{
                                padding-left: 20px;
                                height: 15px;
                                &:before{
                                    width: 30px;
                                    content: '\f041';
                                    float: left;
                                    font-family: 'FontAwesome';
                                    display: block;
                                }
                            }
                        }
                        &.location{
                            width: 38%;
                            padding: 40px 15px;
                            
                            float: left;
                            background: #2d8c9f;
                            .street, .postal {
                                margin: 0;
                            }
                            .content{
                                width: 45%;
                                float: left;
                                padding: 2px 0px 0px 20px;                   
                                p {
                                    font-size: 18px;
                                    font-family: $ubuntu;
                                    line-height: 23px;
                                }
                                h2 {
                                    margin: 0;
                                }
                                .title{
                                    color: $white;
                                    font-weight: 700;
                                    font-family: $ubuntu;
                                    font-size: 23px;
                                    position: relative;
                                    top: 15px;
                                }
                            }
                            .maps{
                                height: 100%;
                                height: 205px;
                                float: left;
                                background-repeat: no-repeat;
                                background-size: cover;
                                width: 40%;
                                margin-left: 40px;

                            }
                        }
                    }
                }
            }
        }
        &.copyright{
            .full-row{
                .blocks-container{
                    .block{
                        &.copyright{
                            width: 100%;
                            float: left;
                            text-align: center;
                            margin: 10px 0;
                            a {
                                color: $white;
                                &:hover {
                                    color: $orange;
                                    transition: .6s all;
                                    &:before {
                                        color: $orange;
                                        transition: .6s all;
                                    }
                                }
                            }
                            .copyright{
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
}
.page-template-contact{
    #main-footer{
        display: none;
    }
}