.row{
    &.healing-intro{
        width: 100%;
        float: left;
        .full-row{
            .blocks-container{
                margin-top: 100px;
                margin-bottom: 100px;
                width: 100%;
                float: left;
                .block{
                    &.content{
                        width: 50%;
                        float: left;
                        .content{
                            padding: 0px 100px 0px 0px;
                        }
                    }
                    &.more-content{
                        width: 50%;
                        float: left;
                        .image-bounderies{
                            width: 100%;
                            height: 312px;
                            .image{
                                width: 100%;
                                height: 100%;
                                background-position: center;
                                background-repeat: no-repeat;
                                background-size: contain;
                            }
                        }
                    }
                }
            }
        }
    }
    &.consulting{
        .full-row{
            .blocks-container{
                margin-bottom: 100px;
                width: 100%;
                float: left;
                .block{
                    &.consulting{
                        @include perfectloop(3, 20, '.repeat');
                        .repeat{
                            float: left;
                            box-sizing: border-box;
                            border: 1px solid $orange;
                            border-radius: 25px;
                            .content{
                                width: 60%;
                                margin: 0 auto;
                                text-align: center;
                                font-weight: bold;
                                font-size: 20px;
                            }
                            .price{
                                text-align: center;
                                font-weight: bold;
                                background-image: linear-gradient(-180deg, $gradient-orange);
                                margin: 0 auto;
                                width: 60%;
                                padding: 10px;
                                color: $white;
                                font-size: 35px;
                                border-radius: 44px;
                                position: relative;
                                top: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
    &.register{
        .full-row{
            .blocks-container{
                width: 100%;
                float: left;
                background-image: linear-gradient(-180deg, $gradient-orange);
                border: 1px solid transparent;
                border-radius: 25px;
                .block{
                    &.register{
                        width: 50%;
                        float: left;
                        .pouch{
                            padding: 30px 30px 30px 100px;
                            .title{
                                color: $white;
                            }
                            .content{
                                color: $white;
                                padding: 0px 310px 0px 0px;
                            }
                            .email{
                                color: $white;
                            }
                            .tel{
                                color: $white;
                            }
                        }
                    }
                    &.service-repeater{
                        width: 50%;
                        float: left;
                        .title-repeater{
                            color: $white;
                            padding: 20px 20px 0px 20px;
                        }
                        .services{
                            padding: 0px 20px 20px 20px;
                            line-height: 1;
                            .content{
                                color: $white;
                                &:before{
                                    width: 30px;
                                    content: '\f04b';
                                    float: left;
                                    font-family: 'FontAwesome';
                                    display: block;
                                    color: $white;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &.summary{
        .full-row{
            .blocks-container{
                margin-top: 180px;
                width: 100%;
                float: left;
                .block{
                    width: 50%;
                    float: left;
                    &.situation{
                        .title{
                            padding: 20px 0px;
                        }
                        .content{
                            padding: 0px 100px 0px 0px;
                        }
                    }
                    &.healing{
                        .title{
                            padding: 20px 0px;
                        }
                        .questions{
                            padding: 0px 100px 0px 0px;
                        }
                    }
                    &.summary-repeater{
                        position: relative;
                        bottom: 100px;
                        line-height: 1;
                        .little-title{
                            padding: 0px 0px 20px 0px;
                        }
                        .content{
                            &:before{
                                width: 30px;
                                content: '\f04b';
                                float: left;
                                font-family: 'FontAwesome';
                                display: block;
                                color: $orange;
                            }
                        }
                    }
                    &.do-it{
                        .title{
                            padding: 20px 0px;
                        }
                        .do{
                            padding: 0px 100px 0px 0px;
                        }
                    }
                }
            }
        }
    }
}