    .page-template-about-me, 
    .page-template-workshop, 
    .page-template-astrologisch, 
    .page-template-healing, 
    .page-template-akasha-kronieken-cursus, 
    .page-template-levensdoelen-en-levenmissies,
    .page-template-opstelling,
    .single-product,
    .archive,
    .single,
    .single-evenementen
    {
        #main-header {
            background-image: url("/helena/wp-content/uploads/2019/06/Group-699.png");
            display: block;
            width: 100%;
            height: 230px;
            background-size: cover;
        }
    }

    #main-header {
        a {
            color: $white;
            &:hover {
                color: $grey;
            }
        }
        width: 100%;
        float: left;
        background: transparent;
        position: relative;

        .row {
            &.header {
                margin-top: 15px;
                position: relative;
                z-index: 20;
                .full-row {
                    .blocks-container-navbar {
                        .logo {
                            vertical-align: middle;
                            img {

                            }
                        }

                        .menu-main-menu-container {
                            display: inline-block;
                            margin-left: 50px;

                            .menu {
                                align-items: center;
                                display: inline-block;

                                li {
                                    margin: 0 30px;
                                    position: relative;
                                }
                                

                                a {
                                    font-family: $archivo;
                                }
                            }
                            .sub-menu {
                                background-color: #EC8F46;
                                width: 320px;

                                li {
                                    margin:0;
                                    position: relative;
                                }
                                
                                a {
                                    color: $white;
                                    padding:10px;
                                    display:block;
                                    box-sizing: border-box;

                                }
                                a:hover {
                                    background-color: white;
                                    color: #EC8F46;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
.page-template-contact{
    #main-header{
        .row{
            &.header{
                .full-row{
                    .blocks-container-navbar{
                        .logo{
                            
                            a{
                                position: relative;
                                z-index: 4;
                                top: 210px;
                                right: 80px;
                            }
                        }
                    }
                }
            }
        }
        .blocks-container-navbar{
            a{
                color: $black;
                position: relative;
                z-index: 4;
            }
        }
    }
}
