.page-template-home {
    li, a, p {
        color: $white;
    }
    
    .row {
        &.homepage {
            width: 100%; height: 570px;
            display: block;
            background-size: cover;
            .full-row {
                position: relative;
                top: 130px;
                .blocks-container {
                    position: relative;
                    text-align: center;
                    top: -50px;
                    .text {
                        font-family: $ubuntu;
                        font-size: 30px;
                        font-weight: 700;
                        color:  $white;
                        margin-bottom: 20px;
                        width: 400px;
                        margin: 0 auto 15px auto;
                        p {
                            margin: 0;
                            font-size: 30px;
                            font-family: $ubuntu;
                        }
                    }
                }
            }
        }
        &.aboutme {
            width: 100%;
            height: 350px;
            background: #ff8e63;
            &:before {
                content: '';
                display: block;
                background-image: url("/helena/wp-content/uploads/2019/06/Group-102.png");
                width: 100%;
                height: 450px;
                position: absolute;
                margin-top: -100px;
                background-size: cover;
            }
            .full-row {
                .blocks-container {
                    text-align: center;
                    color: $white;
                    position: relative;
                    top: -120px;
                    .picture-container {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        .profile-picture {
                            display: block;
                            width: 160px; height: 160px;                     
                            background-size: contain;
                            background-repeat: no-repeat;
                            margin-top: 10px;
                        }
                    }
                    .title {
                        font-family: $ubuntu;
                        font-size: 23px;
                        font-weight: 700;
                        line-height: 23px;
                        width: 660px;
                        margin: 0 auto;
                        p {
                            font-size: 23px;
                            font-family: $ubuntu;
                        }
                    }
                    .text {
                        font-family: $archivo;
                        font-size: 17px;          
                        line-height: 19px;   
                        width: 55%;
                        margin: 0 auto; 
                        p {
                            font-family: $archivo;
                            font-size: 17px;
                        }    
                    }
                }
            }
        }
        &.books {
            position: relative;
            &:after {
                content: '';
                display: block;
                background-image: url("/helena/wp-content/uploads/2019/06/green-shape-1.png");
                width: 100%;
                height: 400px;
                background-repeat: no-repeat;
                margin-top: -240px;
                margin-bottom: 100px;
                margin-left: -290px;
            }
            .full-row {
                max-width: 1350px;
                &:after {
                    content: '';
                    display: block;
                    background-image: url("/helena/wp-content/uploads/2019/06/blue-rectangle-1.png");
                    width: 890px;
                    height: 400px;
                    background-repeat: no-repeat;
                    position: absolute;
                    right: 0;
                    bottom: -120px;
                    z-index: -2;
                }
                .blocks-container {
                    &:after {
                        content: '';
                        background-color: $grass_green_light;
                        display: block;
                        width: 100%;
                        height: 340px;
                        margin: -320px 0 50px 0;
                        background-size: contain;
                        border-radius: 30px;
                    }
                    .text-block {
                        margin: 130px 0 0 100px;
                        box-shadow: 1px 1px 3px 1px rgba(175, 139, 139, 0.51);
                        width: calc(50% - 10px);
                        border-radius: 15px;
                        float: left;
                        background-color: white;
                        .content {
                            padding: 30px 50px;
                            h2 {
                                font-family: $ubuntu;
                                font-weight: 700;
                                font-size: 35px;
                                margin: 0;
                                color: $orange;
                            }
                            p {
                                font-family: $archivo;
                                font-size: 17px;
                                color: $grey;
                            }
                            button {
                                a {
                                    background-color: $blue;
                                    border: 1px solid $blue;
                                    &:hover {
                                        background-color: $white;
                                        color: $blue;
                                        border: 1px solid $blue;
                                    }
                                }
                            }
                        }
                    }
                    .book-image {
                        width: calc(40% - 20px);
                        display: inline-block;
                        img {
                            float: right;
                        }
                    }
                }
            }
        }
        &.home-services {
            background-color: $green;
            position: relative;
            display: flex;
            padding-bottom: 50px;
            &:before {
                display: block;
                content: '';
                background-image: url("/helena/wp-content/uploads/2019/06/blad-links.png");
                width: 430px;
                height: 450px;
                background-repeat: no-repeat;
                position: absolute;
                left: -150px;
                top: 110px;
            }
            &:after {
                display: block;
                content: '';
                background-image: url("/helena/wp-content/uploads/2019/06/blad-rechts.png");
                width: 350px;
                height: 430px;
                background-repeat: no-repeat;
                position: absolute;
                top: 50px;
                right: 0;
                z-index: 0;
            }
            .full-row {
                max-width: 1300px;
                h3 {
                    text-align: center;
                    color: $white;
                    position: relative;
                    top: 20px;         
                    margin-bottom: 70px;               
                }
                .blocks-container {
                    float: left;
                    width: 100%;
                    @include perfectloop (3, 45, '.article');
                    @include matchheight;
                    .article {
                        float: left;
                        position: relative;
                        background-color: $white;
                        box-sizing: border-box;
                        border: 5px solid $orange;
                        position: relative;
                        z-index: 1;
                        .content {
                            text-align: center;
                            padding: 30px;
                            h3 {
                                color: $orange;
                                margin-bottom: 30px;
                            }
                            i {
                                color: $orange;
                                font-size: 40px;
                            }
                            p {
                                color: $black;
                                padding-bottom: 20px;
                            }
                            button {
                                position: absolute;
                                bottom: 20px;
                                right: 0;
                                width: 100%;
                                a {
                                    border: 1px solid $orange;
                                    &:hover {
                                        border: 1px solid $orange;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.home-posts {
            margin: 80px 0;
            float: left;
            width: 100%;
            .full-row { 
                .blocks-container {
                    @include perfectloop(3, 20, '.item');
                    @include matchheight;  
                    .item {
                        float: left;
                        color: $black;
                        position: relative;
                        .img {
                            display: block;
                            width: 100%;
                            height: 150px;
                            background-size: contain;
                            background-repeat: no-repeat;
                            border-radius: 90px;
                            width: 150px;
                            margin: 0px 0px 25px 35px;
                        }
                        .title {

                        }
                        .text {
                            padding-bottom: 40px;
                           p {
                            color: $black;
                           }
                        }
                        button {
                            position: absolute;
                            bottom: 0;
                            a {
                                border: 1px solid $orange;
                                &:hover {
                                    border: 1px solid $orange;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.home-video {
            float: left;
            width: 100%;
            margin: 50px 0 100px 0;
            .full-row {
                .blocks-container {
                    .video {
                    }
                    .text{
                        background-color: $blue;
                        display: inline-block;
                        width: 80%;
                        float: right;
                        border-radius: 10px;
                        margin-top: -300px;

                        .content {
                            padding: 10px 82px 10px 390px;

                            .title {
                                color: $white;
                            }

                            .text {

                            }

                            button {
                                padding: 15px 0;
                            }

                        }
                    }
                }
            }
        }
        &.home-reviews {
            background-image: url("/helena/wp-content/uploads/2019/06/reviews-background.png");
            background-repeat: no-repeat;
            background-size: 100% 100%;
            display: flex;
            width: 100%;
            margin-bottom: 70px;
            .full-row {
                h2 {
                    font-family: $ubuntu;
                    color: $white;
                    font-size: 24px;
                    text-align: center;
                    margin: 30px 0;
                }
                .blocks-container {
                    @include perfectloop(3, 20, '.review');
                    @include matchheight;
                    .review {
                        float: left;
                        color: $black;
                        background-color: $white;
                        border-radius: 10px;
                        margin-bottom: 50px;
                        position: relative;
                        p {
                            color: $black;
                        }
                        .content {
                            padding: 10px 40px 30px 40px;
                            &:before {
                                font-family: 'FontAwesome';
                                content: '\f10d';
                                position: absolute;
                                left: 15px;
                                top: 20px;
                            }
                            .name {
                                position: absolute;
                                bottom: 20px;
                                &:before {
                                    content: "";
                                    position: relative;
                                    width: 70px;
                                    display: inline-block;
                                    border-bottom: 2px solid $grey;
                                    top: -3px;
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.contact-events {
            .full-row {
                .blocks-container {
                    margin: 40px 0;
                    display: inline-block;
                    padding: 0 100px;
                    .contact {
                        padding: 15px 30px;
                        background-color: $fall_orange_light;
                        border-radius: 10px;
                        width: calc(57% - 20px);
                        float: left;
                        position: relative;
                        z-index: 1;s
                        .wpcf7-response-output {
                          display: none !important;
                        }
                        .wpcf7-form {
                          margin: auto;
                          width: 100%;
                          p {
                            margin:0 0 14px;
                          }
                          h3 {
                            color: $white;
                            text-align: left;
                            margin-bottom: 17px;
                            font-size: 21px;
                          }
                        }
                        .wpcf7-form-control-wrap.your-name {
                            input.wpcf7-form-control.wpcf7-text {
                                width: calc(50% - 20px);
                                float: left;
                            }
                        }
                        .wpcf7-form-control-wrap.your-email {
                            input.wpcf7-form-control.wpcf7-text {
                                width: calc(50% - 20px);
                                float: right;
                            }
                        }
                        .wpcf7-form-control-wrap {
                          input.wpcf7-form-control.wpcf7-text {
                            width:100%;
                            height: 40px;
                            box-sizing: border-box;
                            border-radius: 10px;
                            box-shadow: 0 3px 6px rgba(0,0,0,0.15);
                            padding: 3px 23px;
                            margin-bottom: 14px;
                          }
                          textarea {
                            width:100%;
                            height: 160px;
                            box-sizing: border-box;
                            border-radius: 14px;
                            box-shadow: 0 3px 6px rgba(0,0,0,0.15);
                            padding: 11px 23px;
                            margin-bottom: 18px;
                          }
                        }
                        .wpcf7-submit {
                          margin-top: -12px;
                          color: $white;
                          float: right;
                          line-height: 10px;
                          font-size: 15px;
                          font-family: $ubuntu;
                          padding: 10px 30px;
                          border-radius: 10px;
                          border: 2px solid $orange;
                          background-color: $orange;
                          transition: 0.2s;
                          &:hover {
                            background-color: $white;
                            color: $orange;
                            border: 2px solid $orange;
                            transition: 0.2s;
                          }
                        }
                      }
                      .events {
                        width: calc(35% - 15px);
                        float: right;
                        background: linear-gradient(45deg ,$gradient_orange);
                        padding: 50px 30px;
                        position: relative;
                        left: -90px; top: -30px;
                        border-radius: 50%;
                        display: inline-block;
                          h5 {
                              font-size: 24px;
                              color: $white;
                              font-family: $ubuntu;
                              padding-left: 90px;
                              margin: 0;
                          }
                          button {
                            margin: 10px 0px 0px 95px;
                              a {
                                  color: $white;
                                  background: linear-gradient(45deg ,$gradient_orange);
                                  &:hover {
                                      background: $white;
                                      color: $orange;
                                  }
                              }
                          }
                        .event {
                            box-sizing: border-box;
                            background-color: $white;
                            width: 270px;
                            height: 75px;
                            border-radius: 20px;
                            margin: 15px auto 15px 80px;
                            h5 {
                                font-family: $archivo;
                                font-size: 14px;
                                color: $grey;
                                padding: 10px 0px 0px 25px;
                                text-align: left;
                                margin: 10px 0;
                            }
                            .date {
                                font-size: 14px;
                                font-family: $archivo;
                                color: $blue;
                                text-align: left;
                                padding: 0 25px;
                            }
                        }
                    }
                }
            }
        }
    }
}

div {
    
}