.page-template-levensdoelen-en-levenmissies {
  .row {
    &.levensdoelen {
      width:100%;
      margin: 50px 0;
      float:left;
      .full-row {
        .blocks-container {
          width:100%;
          float:left;
          .block {
            width:50%;
            float:left;
            p {
              margin-bottom:30px;
            }
            h3 {
              margin-bottom:30px;
            }
            .main-image {
              background-image: url("/helena/wp-content/uploads/2019/06/Group-178.png");
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              height:618px;
            }
          }
          .block:first-child {
            width: calc(50% - 130px);
            margin: 110px 130px 0 0;
          }
        }
      }
    }
    &.product {
      width: 100%;
      min-height: 785.58px;
      float:left;
      background-image: url("/helena/wp-content/uploads/2019/06/Path-436.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: 103% 100%;
      .full-row {
        .blocks-container {
          width:100%;
          float:left;
          margin: 180px 0px;
          .block {
            width: 55%;
            float:left;
            .wysiwyg {
              p {
                color: $white;
                font-size: 18px;
              }
            }
            .product-wrapper {
              position:relative;
              width:100%;
              float:left;
              margin: 60px 0px;
              @include matchheight();
              .block {
                width:43%;
                float:left;
                .image {
                  width:243px;
                  height:243px;
                  background-repeat: no-repeat;
                  background-position: center;
                  margin-left: 32px;
                  border-radius: 13px;
                  box-shadow: 0 3px 6px rgba(0,0,0,0.15);
                }
                .info-wrapper {
                  position:absolute;
                  bottom:0;
                  .title {
                    font-size:20px;
                    margin-bottom: 24px;
                    color: $white;
                  }
                  .price {
                    font-family: $ubuntu;
                    font-weight:bold;
                    font-size: 30px;
                    margin-bottom: 24px;
                    color: $white;
                  }
                  button {
                    padding-left: 0;
                  }
                }
              }
              .block:last-child {
                width:57%;
              }
            }
          }
          .block:last-child {
            width: 45%;
          }
        }
      }
    }
  }
}
