.page-template-opstelling{
    .row{
        &.setup{
            .full-row{
                .blocks-container{
                    width: 100%;
                    float: left;
                    margin-top: 100px;
                    .block{
                        width: 50%;
                        float: left;
                        &.image{
                            height: 483px;
                            .image{
                                background-size: contain;
                                background-repeat: no-repeat;
                                background-position: left;
                                height: 100%;
                                width: 100%;
                                position: relative;
                                right: 140px;
                            }
                        }
                        &.content{
                            .upper{
                                .title{
                                    padding-bottom: 10px;
                                }
                                p{
                                    line-height: 1.4;
                                }
                            }
                            .lower{
                                .title{
                                    padding-bottom: 10px;
                                }
                                p{
                                    line-height: 1.4;
                                }
                            }
                        }
                    }
                }
            }
        }
        &.grey-swipe{
            width: 100%;
            height: 800px;
            float: left;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            margin-top: 150px;
            .full-row{
                .blocks-container{
                    width: 100%;
                    float: left;
                    margin-top: 70px;
                    .block{
                        
                        &.left{
                            position: relative;
                            right: 50px;
                            top: 100px;
                            width: 50%;
                            float: left;
                            .content{
                                padding-right: 80px;
                            }
                            .title{
                                padding-bottom: 10px;
                            }
                            &.top{
                                .content{
                                    margin-bottom: 50px;
                                }
                            }
                            &.bottom{

                            }
                        }
                        &.right{    
                            width: 50%;
                            float: left;
                            margin-bottom: 50px;
                            position: relative;
                            left: 150px;
                            top: 100px;
                            .title{
                                padding-bottom: 30px;
                            }
                        }
                        &.consulting{
                            width: 100%;
                            float: left;
                            margin-top: 180px;
                            .consult{
                                width: 22%;
                                float: left;
                                margin-left: 10%;
                                background-color: $white;
                                padding: 30px;
                                box-shadow: 2px 2px 10px lightgrey;
                                height: 150px;
                                &.left{
                                    margin-left: 20%;
                                    .title{
                                        text-align: center;
                                    } 
                                    .content{
                                        text-align: center;
                                        color: $moregrey;
                                        font-size: 20px;
                                        font-weight: bold;
                                        padding: 0px 20px;
                                        .fa-check{
                                            color: $green;
                                            font-size: 1rem;
                                            position: relative;
                                            &:before{
                                                position: absolute;
                                                right: 10px;
                                                bottom: 0px;
                                            }
                                        }
                                    }
                                    .button{
                                        width: 25%;
                                        display: block;
                                        text-align: center;
                                        margin: 0 auto;
                                        position: relative;
                                        background-image: linear-gradient(-180deg, #E95929, #EC8F46);
                                        border: 1px solid transparent;
                                        border-radius: 41px;
                                        padding: 17px 60px;
                                        color: $white;
                                        font-size: 30px;
                                        font-weight: bold;
                                    }
                                }
                                &.right{
                                    margin-left: 10%;
                                    .title{
                                        text-align: center;
                                    }
                                    .content{
                                        text-align: center;
                                        font-weight: bold;
                                        color: $moregrey;
                                        font-size: 20px;
                                        padding: 0px 20px;
                                        .fa-check{
                                            color: $green;
                                            font-size: 1rem;
                                            position: relative;
                                            &:before{
                                                position: absolute;
                                                right: 10px;
                                                bottom: 0px;
                                            }
                                        }
                                    }
                                    .button{
                                        width: 25%;
                                        display: block;
                                        text-align: center;
                                        margin: 0 auto;
                                        position: relative;
                                        background-image: linear-gradient(-180deg, #E95929, #EC8F46);
                                        border: 1px solid transparent;
                                        border-radius: 41px;
                                        padding: 17px 60px;
                                        color: $white;
                                        font-size: 30px;
                                        font-weight: bold;
                                    } 
                                }
                            }
                        }
                    }
                }
            }
        }
        &.instructions{
            width: 100%;
            float: left;
            margin-top: 300px;
        }
    }
}