.single-product {
  p {
    font-size: 18px;
  }
  .content-area {
    max-width: 1410px;
    margin:auto;
    .site-main {
      .product {
        width: 100%;
        float: left;
        margin: 220px 0 ;
        .image-1 {
          width:200px;
          height:200px;
          background: linear-gradient($gradient_orange);
          border-radius: 100px;
          position: absolute;
          left: -60px;
          bottom: 160px;
          z-index: -1;
        }
        .image-2 {
          width: 350px;
          height: 350px;
          background: linear-gradient(#e95929, #ec8f46);
          border-radius: 180px;
          position: absolute;
          top: -77px;
          right: 155px;
          z-index: -1;
        }
        .image-3 {
          width: 130px;
          height: 130px;
          background: linear-gradient(#e95929, #ec8f46);
          border-radius: 100px;
          position: absolute;
          right: 145px;
          bottom: 187px;
          z-index: -1;
        }
        .woocommerce-product-gallery {
          margin-bottom: 2em;
          margin-top: 2em;
          .woocommerce-product-gallery__image {
            width:70%;
          }
        }
        .summary {
          .price {
            color: $orange;
            font-family: $ubuntu;
            font-size: 30px;
            font-weight: bold;
          }
          .product_title {
            width: 88%;
            text-shadow: none;
            font-size: 22px;
          }
          .woocommerce-product-details__short-description {
            border-bottom: 1px solid;
            padding-bottom: 15px;
            width: 88%;
          }
          .cart {
            width: 50%;
            float:right;
            margin-top: 53px;
            button {
              &.button {
                background-color: $orange;
                padding: 11px 56px;
                border: 2px solid $orange;
                border-radius: 28px;
                box-sizing:border-box;
                transition: 0.6s;
                &:hover {
                  background-color: $white;
                  color: $orange;
                  transition: 0.6s;
                }
              }
            }
            .quantity {
              .text {
                margin: 7px 0px;
              }
            }
          }
          .product_meta {
            width: 50%;
            float: left;
            margin-top: 35px;
            .sku_wrapper, .posted_in {
              width: 100%;
              display:block;
              color: #b5b5b5;
              font-size: 18px;
              a {
                color: #b5b5b5;
                &:hover {
                  color: #6e6e6e;
                }
              }
            }
          }
        }
        .woocommerce-tabs {
          width: 88%;
          margin: auto;
          padding-top: 120px;
          ul.tabs {
            border-radius: 0;
            display: flex;
            justify-content: space-around;
            margin-bottom: 80px;
            li {
              border: none;
              background-color: $grey;
              color: $white;
              padding:0;

              border-radius: 40px;
              a {
                color: $white;
                padding: 12px 50px;
              }
              &.active {
                background-color: $orange;
                border:none;
              }
              &:before {
                content: none;
              }
              &:after {
                content: none;
              }
            }
            &:before {
              content: none;
            }
            &:after {
              content: none;
            }
          }
          .woocommerce-Tabs-panel {
            padding-left: 50px;
            border-left: 2px solid $orange;
            h2 {

            }
          }
        }
      }
    }
  }
  #sidebar {
    display:none;
  }
}
