.single-evenementen {
  .row {
    &.event-text {
      float:left;
      width:100%;
      .full-row {
        .blocks-container {
          margin: 100px 0;
          width:100%;
          display:inline-block;
          .block {
            width: calc(50% - 50px);
            margin: 0 20px 0 30px;
            float:left;
            .location {
              position: relative;
              padding: 0 18px;
              &:before {
                content: "\f041";
                font-family: FontAwesome;
                font-style: normal;
                font-weight: normal;
                text-decoration: inherit;
                color: #e95929;
                font-size: 21px;
                padding-right: 0.5em;
                position: absolute;
                top: 0px;
                left: 0;
              }
            }
            &:last-child {
              margin: 0 30px 0 20px;
            }
            .image {
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              width:371px;
              height: 371px;
              margin: auto;
            }
            h1 {
              text-shadow: none;
              font-weight:normal;
              font-size: 35px;
              color: $grey;
              margin-bottom: 10px;
            }
            .price {
              border-right: 1px solid rgba(0,0,0,0.15);
              padding-right: 10px;
              margin-right: 10px;
            }
            .info {
              width:100%;
              float:left;
              h3 {
                display:inline-block;
              }
            }
          }
        }
      }
    }
    //&.info-details {
    //  float:left;
    //  width:100%;
    //  background-image: url("http://localhost:1337/helena/wp-content/uploads/2019/06/Path-436.png");
    //  background-repeat: no-repeat;
    //  background-size: 103%;
    //  padding: 120px 0;
    //  .full-row {
    //    .blocks-container {
    //      .block {
    //        width:50%;
    //        float:left;
    //        box-sizing: border-box;
    //        .marker {
    //          width: 28.5%;
    //          margin: -90px auto 0;
    //        }
    //        .marker:before {
    //          font-family: FontAwesome;
    //          content: "\f041";
    //          font-size: 340px;
    //
    //        }
    //        &:last-child {
    //          padding: 0 100px;
    //          margin: 30px 0;
    //          .event {
    //            color: $white;
    //          }
    //        }
    //      }
    //    }
    //  }
    //}
  }
}

//begin media query 480px
@media screen and (max-width: 480px) {
  .single-evenementen {
    .row {
      &.event-text {
        .full-row {
          .blocks-container {
            .block, .block:last-child {
              width:100%;
              margin:0;
              .image {
                width:100%;
              }
            }
          }
        }
      }
    }
  }
}
//eind media query 480px

//begin media query 320px
@media screen and (max-width: 320px) {
  .single-evenementen {
    .row {
      &.event-text {
        .full-row {
          .blocks-container {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
//eind media query 320px

