
.row{

    &.top{
        width: 100%;
        float: left;
        .full-row{
            .blocks-container{
                width: 100%;
                float: left;
                .block{
                    &.content{
                        width: 50%;
                        float: left;
                        margin-top: 140px;
                        .title{
                            padding-bottom: 10px;         
                        }
                        .content{
                            padding: 0px 100px 0px 0px;
                        }
                    }
                    &.image{
                        width: 50%;
                        float: left;
                        height: 605px;
                        .image{
                            width: 100%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-position: center;
                            background-size: contain;
                        }
                    }
                }
            }
        }
    }
    &.green{
        background-repeat: no-repeat;
        background-size: 110% 710px;
        height: 695px;
        float: left;
        width: 100%;
        .full-row{
            .blocks-container{
                width: 100%;
                float: left;
                color: $white;
                margin-top: 190px;
                line-height: 1.9;
                .block{
                    &.left-content{
                        width: 50%;
                        float: left;
                        .title{
                            color: $white;
                            padding-bottom: 10px;         
                        }
                        .content{
                            color: $white;
                            padding: 0px 40px 0px 0px;
                        }
                    }
                    &.right-content{
                        width: 50%;
                        float: left;
                        margin-top: 35px;
                        .right{
                            color: $white;
                            padding: 0px 40px 0px 40px;
                        }
                    }
                }
            }
        }
    }
    &.after-green{
        .full-row{
            .blocks-container{
                width: 100%;
                float: left;
                margin-bottom: 100px;
                .block{
                    &.image{
                        width: 50%;
                        float: left;
                        height: 470px;
                        .image{
                            width: 100%;
                            height: 100%;
                            background-repeat: no-repeat;
                            background-size: contain;
                            background-position: center;
                        }
                    }
                    &.content{
                        width: 50%;
                        float: left;
                        position: relative;
                        left: 100px;
                        top: 30px;
                        .title{
                            font-size: 20px;
                            padding-bottom: 10px;         
                        }
                        p{
                            padding: 0px 260px 0px 0px;
                            line-height: 2;
                        }
                    }
                }
            }
        }
    }
    &.questions{
        .full-row{
            .blocks-container{
                width: 100%;
                float: left;
                margin-bottom: 75px;
                .block{
                    &.questions{
                        .title{
                            padding-bottom: 10px;         
                        }
                        .content{
                            padding: 0px 160px 0px 0px;
                        }
                    }
                }
            }
        }
    }
}