// == MAIN TRIGGER BUTTON == 

// Trigger button background color
$button_background_color : $orange;

// Trigger button content (icon) color
$button_content_color : #fff;
    
// Trigger button content
$button_content_fa : '\200b';

// Active icon change coming soon
// Insert active icon here

// == MAIN PARTS == 

// Menu background color
$menu_background_color :  $orange;

// Menu content color
$menu_content_color : #fff;

// Menu current item background color
$menu_current_item_background_color : #fff;

// Menu current item content color
$menu_current_item_content_color : #000;

// Menu border color
$menu_border_color : $menu_background_color;

// == SUBMENU TRIGGER BUTTON == 

// Submenu trigger background color
$submenu_button_in_menu_background_color : #fff;

// Submenu trigger content (icon) color
$submenu_button_in_menu_content_color : #000;

// == SHOW ON  == 

// Show responsive menu on {amount}px 
$show_on : 1080px;

// == Trigger which is shown when the responsive menu goes to full width on 400px; ==

// Trigger button in menu background color
$button_in_menu_background_color : #fff;

// Trigger button in menu content (icon) color
$button_in_menu_content_color : #000;

// == OTHER == 

// Calculating from show_on {dont change this}
$hide_on : $show_on + 1px;

// == START MENU ==

#trigger-menu{

    float:right;
    background: $button_background_color;
    padding: 3px 10px;
    color: $button_content_color;
    box-sizing: border-box;
    border-radius: 0px;
    font-size: 23px;
    display: none;
    margin-top: 20px;

    @media( max-width: $show_on ) {

        display: block;
    }

    i{

        &::after{

            content: '\200b';
            display: inline-block;
        }
    }
}

#trigger-menu-small{

    display: none;
    width: 45px;
    background: $button_in_menu_background_color;
    margin-left: 10px;
    border-radius: 5px;
    color: $button_in_menu_content_color;
    padding: 0;
    position: relative;
    cursor: pointer;

    @media( max-width: 400px ) {

        display: inline-block;
    }

    i{

        position: absolute;
        top: 50%;
        left: 50%;
        @include transform( translate( -50%, -50% ) );
        font-size: 16px;
    }
}

#min_responsive_menu{

    color: $menu_content_color;
    font-size: 20px;
    position: fixed;
    -webkit-backface-visibility: hidden;
    background: $menu_background_color;
    height: 100%;
    top: 0;
    left: 0;
    width: 45%;
    z-index: 9999;
    @include transition(0.5s);
    overflow-x: hidden;
    margin:0;
    padding:0;
    transform: translateX(-100%);
    list-style: none;
    border-right: 10px solid black;
    border-left: 10px solid $menu_border_color;
    box-sizing: border-box;

    @media( max-width: 680px ){

        font-size: 16px;
    }

    @media( max-width: 600px ){

        width: 75%;
    }

    @media( max-width: 400px ){

        width: 100%;

        > li{

            &:first-child{

                > a{

                    width: calc( 100% - 55px );
                }
            }
        }
    }

    &.open{

        transform: translateX(0);

        @media( $hide_on ) {

            transform: translateX(-100%);
        }
    }

    li {

        position: relative;
        @include flexbox();
        @include flex-wrap(wrap);
        margin-top: 10px;
        width: 100%;

        &.menu-item-has-children{

            > a{

                width: calc( 100% - 55px );
            }

            .toggle_sub{

                width: 45px;
                background: $submenu_button_in_menu_background_color;
                display: inline-block;
                color: $submenu_button_in_menu_content_color;
                padding: 0;
                right: 0;
                top: 0;
                text-align: center;
                border-radius: 5px;
                position: relative;
                margin-left: 10px;
                cursor: pointer;

                i{

                    position: absolute;
                    top: 50%;
                    left: 50%;
                    @include transform( translate( -50%, -50% ) );
                    font-size: 16px;
                }
            }
        }

        &.current-menu-item{

            > a{
                background: $menu_current_item_background_color;
                color: $menu_current_item_content_color;
                border-radius: 5px;
            }
        }

        > a{

            padding: 10px;
            box-sizing: border-box;
            display: inline-block;
            width: 100%;
            text-decoration: none;
            color: $menu_content_color;
        }

        .responsive-submenu{

            margin:0;
            padding:0;
            display: none;
            list-style: none;
            width: 100%;

            &.open{

            }

            > li{

                padding-left: 20px;
                box-sizing: border-box;

                > a{

                   
                }
            }
        }
    }

    .admin-bar &{

        margin-top: 32px;

        @media( max-width: 782px ){

            margin-top: 46px;
        }
    }

    pre{

        color:#000;
        overflow: scroll;
        height: 100%;
    }
}

#menu_on_body_click{

    display: none;
    width:100%;
    height: 100%;
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 9;

    @media( min-width: $hide_on ) {

        display: none!important;
    }
}