.owl-dots{

	text-align: center;
}

.owl-dot{

	display: inline-block;
	zoom: 1;
}

.owl-dot span{

    width: 10px;
    height: 10px;
    margin: 5px 7px;
    background: #D6D6D6;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease;
    border-radius: 30px;
}