@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800');
@import url('https://fonts.googleapis.com/css?family=Archivo:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');
ul.orange-list {
  list-style: none;
  list-style-type: none;
}
li.orange-item {
  display: inline-block;
  list-style-type: none;
}
ul.orange-list li.orange-item::before {
  content: "\2022";
  color: #e95929;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
h1 {
  font-size: 27px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  color: #e95929;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}
h2 {
  font-size: 24px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  color: #e95929;
  margin: 0 0 13px 0;
}
h3 {
  font-size: 21px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  color: #e95929;
  margin: 0 0 13px 0;
}
h4 {
  font-size: 23px;
  font-weight: bold;
  font-family: 'Ubuntu', sans-serif;
  color: #e95929;
  margin: 0 0 25px 0;
  text-transform: uppercase;
}
body {
  font-family: 'Archivo', sans-serif;
}
body p {
  font-size: 16px;
  font-family: 'Archivo', sans-serif;
  color: #707070;
}
.quote {
  font-size: 35px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  color: #e95929;
}
.btn {
  box-sizing: border-box;
}
.btn:hover {
  background-color: #fff;
}
ul.services {
  margin: 110px 0 0 11em;
}
ul.services a li {
  display: block;
  background: url("/helena/wp-content/uploads/2019/06/Component-4-–-2.png") no-repeat left 4px;
  height: 46px;
  padding-left: 44px;
  padding-top: 3px;
  color: #707070;
  transition: 0.2s;
}
ul.services a li:before {
  content: "";
}
ul.services a:hover li {
  font-weight: bold;
  transition: 0.2s;
}
.full-row {
  max-width: 1371px;
}
button {
  background-color: transparent;
  padding: 0;
}
button a {
  display: inline-block;
  font-family: 'Archivo', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: #e95929;
  padding: 10px 40px;
  border-radius: 30px;
}
button a:hover {
  color: #e95929;
  background-color: #fff;
  transition: 0.6s all;
}
a {
  text-decoration: none;
}
a:hover {
  color: #707070;
}
textarea {
  resize: none;
}
body {
  -webkit-font-smoothing: antialiased;
}
ul {
  -webkit-padding-start: 0px !important;
}
.page-template-about-me #main-header, .page-template-workshop #main-header, .page-template-astrologisch #main-header, .page-template-healing #main-header, .page-template-akasha-kronieken-cursus #main-header, .page-template-levensdoelen-en-levenmissies #main-header, .page-template-opstelling #main-header, .single-product #main-header, .archive #main-header {
  background-image: url("/helena/wp-content/uploads/2019/06/Group-699.png");
  display: block;
  width: 100%;
  height: 230px;
  background-size: cover;
}
#main-header {
  width: 100%;
  float: left;
  background: transparent;
  position: relative;
}
#main-header a {
  color: #fff;
}
#main-header a:hover {
  color: #707070;
}
#main-header .row.header {
  margin-top: 15px;
  position: relative;
  z-index: 20;
}
#main-header .row.header .full-row .blocks-container-navbar .logo {
  vertical-align: middle;
}
#main-header .row.header .full-row .blocks-container-navbar .menu-main-menu-container {
  display: inline-block;
  margin-left: 50px;
}
#main-header .row.header .full-row .blocks-container-navbar .menu-main-menu-container .menu {
  align-items: center;
  display: inline-block;
}
#main-header .row.header .full-row .blocks-container-navbar .menu-main-menu-container .menu li {
  margin: 0 30px;
}
#main-header .row.header .full-row .blocks-container-navbar .menu-main-menu-container .menu a {
  font-family: 'Archivo', sans-serif;
}
#main-header .row.header .full-row .blocks-container-navbar .menu-main-menu-container .sub-menu {
  background-color: #fff;
  width: 320px;
  margin-left: -110px;
  border: 1px solid #000;
}
#main-header .row.header .full-row .blocks-container-navbar .menu-main-menu-container .sub-menu a {
  color: #000;
}
.page-template-contact #main-header .row.header .full-row .blocks-container-navbar .logo a {
  position: relative;
  z-index: 4;
  top: 210px;
  right: 80px;
}
.page-template-contact #main-header .blocks-container-navbar a {
  color: #000;
  position: relative;
  z-index: 4;
}
.page-template-home li, .page-template-home a, .page-template-home p {
  color: #fff;
}
.page-template-home .row.homepage {
  width: 100%;
  height: 570px;
  display: block;
  background-size: cover;
}
.page-template-home .row.homepage .full-row {
  position: relative;
  top: 130px;
}
.page-template-home .row.homepage .full-row .blocks-container {
  position: relative;
  text-align: center;
  top: -50px;
}
.page-template-home .row.homepage .full-row .blocks-container .text {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 20px;
  width: 400px;
  margin: 0 auto 15px auto;
}
.page-template-home .row.homepage .full-row .blocks-container .text p {
  margin: 0;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
}
.page-template-home .row.aboutme {
  width: 100%;
  height: 350px;
  background: #ff8e63;
}
.page-template-home .row.aboutme:before {
  content: '';
  display: block;
  background-image: url("/helena/wp-content/uploads/2019/06/Group-102.png");
  width: 100%;
  height: 450px;
  position: absolute;
  margin-top: -100px;
  background-size: cover;
}
.page-template-home .row.aboutme .full-row .blocks-container {
  text-align: center;
  color: #fff;
  position: relative;
  top: -120px;
}
.page-template-home .row.aboutme .full-row .blocks-container .picture-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.page-template-home .row.aboutme .full-row .blocks-container .picture-container .profile-picture {
  display: block;
  width: 160px;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-top: 10px;
}
.page-template-home .row.aboutme .full-row .blocks-container .title {
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  font-weight: 700;
  line-height: 23px;
  width: 660px;
  margin: 0 auto;
}
.page-template-home .row.aboutme .full-row .blocks-container .title p {
  font-size: 23px;
  font-family: 'Ubuntu', sans-serif;
}
.page-template-home .row.aboutme .full-row .blocks-container .text {
  font-family: 'Archivo', sans-serif;
  font-size: 17px;
  line-height: 19px;
  width: 55%;
  margin: 0 auto;
}
.page-template-home .row.aboutme .full-row .blocks-container .text p {
  font-family: 'Archivo', sans-serif;
  font-size: 17px;
}
.page-template-home .row.books {
  position: relative;
}
.page-template-home .row.books:after {
  content: '';
  display: block;
  background-image: url("/helena/wp-content/uploads/2019/06/green-shape-1.png");
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  margin-top: -240px;
  margin-bottom: 100px;
  margin-left: -290px;
}
.page-template-home .row.books .full-row {
  max-width: 1350px;
}
.page-template-home .row.books .full-row:after {
  content: '';
  display: block;
  background-image: url("/helena/wp-content/uploads/2019/06/blue-rectangle-1.png");
  width: 890px;
  height: 400px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -120px;
  z-index: -2;
}
.page-template-home .row.books .full-row .blocks-container:after {
  content: '';
  background-color: #f4fed9;
  display: block;
  width: 100%;
  height: 340px;
  margin: -320px 0 50px 0;
  background-size: contain;
  border-radius: 30px;
}
.page-template-home .row.books .full-row .blocks-container .text-block {
  margin: 130px 0 0 100px;
  box-shadow: 1px 1px 3px 1px rgba(175, 139, 139, 0.51);
  width: calc(50% - 10px);
  border-radius: 15px;
  float: left;
  background-color: white;
}
.page-template-home .row.books .full-row .blocks-container .text-block .content {
  padding: 30px 50px;
}
.page-template-home .row.books .full-row .blocks-container .text-block .content h2 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 35px;
  margin: 0;
  color: #e95929;
}
.page-template-home .row.books .full-row .blocks-container .text-block .content p {
  font-family: 'Archivo', sans-serif;
  font-size: 17px;
  color: #707070;
}
.page-template-home .row.books .full-row .blocks-container .text-block .content button a {
  background-color: #329eb3;
  border: 1px solid #329eb3;
}
.page-template-home .row.books .full-row .blocks-container .text-block .content button a:hover {
  background-color: #fff;
  color: #329eb3;
  border: 1px solid #329eb3;
}
.page-template-home .row.books .full-row .blocks-container .book-image {
  width: calc(40% - 20px);
  display: inline-block;
}
.page-template-home .row.books .full-row .blocks-container .book-image img {
  float: right;
}
.page-template-home .row.home-services {
  background-color: #b5cb7a;
  position: relative;
  display: flex;
}
.page-template-home .row.home-services:before {
  display: block;
  content: '';
  background-image: url("/helena/wp-content/uploads/2019/06/blad-links.png");
  width: 430px;
  height: 450px;
  background-repeat: no-repeat;
  position: absolute;
  left: -150px;
  top: 110px;
}
.page-template-home .row.home-services:after {
  display: block;
  content: '';
  background-image: url("/helena/wp-content/uploads/2019/06/blad-rechts.png");
  width: 350px;
  height: 430px;
  background-repeat: no-repeat;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 0;
}
.page-template-home .row.home-services .full-row {
  max-width: 1300px;
}
.page-template-home .row.home-services .full-row h3 {
  text-align: center;
  color: #fff;
  position: relative;
  top: 20px;
  margin-bottom: 70px;
}
.page-template-home .row.home-services .full-row .blocks-container {
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-template-home .row.home-services .full-row .blocks-container > .article {
  width: calc(33.3333333333% - 60px);
  margin-right: 45px;
  margin-left: 45px;
}
.page-template-home .row.home-services .full-row .blocks-container > .article:nth-of-type(3n+1) {
  margin-right: 45px;
  margin-left: 0;
}
.page-template-home .row.home-services .full-row .blocks-container > .article:nth-of-type(3n+3) {
  margin-left: 45px;
  margin-right: 0;
}
.page-template-home .row.home-services .full-row .blocks-container > .article:nth-of-type(3n+2) {
  margin-right: 45px;
  margin-left: 45px;
}
.page-template-home .row.home-services .full-row .blocks-container .article {
  float: left;
  position: relative;
  background-color: #fff;
  box-sizing: border-box;
  border: 5px solid #e95929;
  position: relative;
  z-index: 1;
}
.page-template-home .row.home-services .full-row .blocks-container .article .content {
  text-align: center;
  padding: 30px;
}
.page-template-home .row.home-services .full-row .blocks-container .article .content h3 {
  color: #e95929;
  margin-bottom: 30px;
}
.page-template-home .row.home-services .full-row .blocks-container .article .content i {
  color: #e95929;
  font-size: 40px;
}
.page-template-home .row.home-services .full-row .blocks-container .article .content p {
  color: #000;
  padding-bottom: 20px;
}
.page-template-home .row.home-services .full-row .blocks-container .article .content button {
  position: absolute;
  bottom: 20px;
  right: 0;
  width: 100%;
}
.page-template-home .row.home-services .full-row .blocks-container .article .content button a {
  border: 1px solid #e95929;
}
.page-template-home .row.home-services .full-row .blocks-container .article .content button a:hover {
  border: 1px solid #e95929;
}
.page-template-home .row.home-posts {
  margin: 80px 0;
  float: left;
  width: 100%;
}
.page-template-home .row.home-posts .full-row .blocks-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-template-home .row.home-posts .full-row .blocks-container > .item {
  width: calc(33.3333333333% - 26.6666666667px);
  margin-right: 20px;
  margin-left: 20px;
}
.page-template-home .row.home-posts .full-row .blocks-container > .item:nth-of-type(3n+1) {
  margin-right: 20px;
  margin-left: 0;
}
.page-template-home .row.home-posts .full-row .blocks-container > .item:nth-of-type(3n+3) {
  margin-left: 20px;
  margin-right: 0;
}
.page-template-home .row.home-posts .full-row .blocks-container > .item:nth-of-type(3n+2) {
  margin-right: 20px;
  margin-left: 20px;
}
.page-template-home .row.home-posts .full-row .blocks-container .item {
  float: left;
  color: #000;
  position: relative;
}
.page-template-home .row.home-posts .full-row .blocks-container .item .img {
  display: block;
  width: 100%;
  height: 150px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 90px;
  width: 150px;
  margin: 0px 0px 25px 35px;
}
.page-template-home .row.home-posts .full-row .blocks-container .item .text {
  padding-bottom: 40px;
}
.page-template-home .row.home-posts .full-row .blocks-container .item .text p {
  color: #000;
}
.page-template-home .row.home-posts .full-row .blocks-container .item button {
  position: absolute;
  bottom: 0;
}
.page-template-home .row.home-posts .full-row .blocks-container .item button a {
  border: 1px solid #e95929;
}
.page-template-home .row.home-posts .full-row .blocks-container .item button a:hover {
  border: 1px solid #e95929;
}
.page-template-home .row.home-video {
  float: left;
  width: 100%;
  margin: 50px 0 100px 0;
}
.page-template-home .row.home-video .full-row .blocks-container .text {
  background-color: #329eb3;
  display: inline-block;
  width: 80%;
  float: right;
  border-radius: 10px;
  margin-top: -300px;
}
.page-template-home .row.home-video .full-row .blocks-container .text .content {
  padding: 10px 82px 10px 390px;
}
.page-template-home .row.home-video .full-row .blocks-container .text .content .title {
  color: #fff;
}
.page-template-home .row.home-video .full-row .blocks-container .text .content button {
  padding: 15px 0;
}
.page-template-home .row.home-reviews {
  background-image: url("/helena/wp-content/uploads/2019/06/reviews-background.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  display: flex;
  width: 100%;
  margin-bottom: 70px;
}
.page-template-home .row.home-reviews .full-row h2 {
  font-family: 'Ubuntu', sans-serif;
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin: 30px 0;
}
.page-template-home .row.home-reviews .full-row .blocks-container {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-template-home .row.home-reviews .full-row .blocks-container > .review {
  width: calc(33.3333333333% - 26.6666666667px);
  margin-right: 20px;
  margin-left: 20px;
}
.page-template-home .row.home-reviews .full-row .blocks-container > .review:nth-of-type(3n+1) {
  margin-right: 20px;
  margin-left: 0;
}
.page-template-home .row.home-reviews .full-row .blocks-container > .review:nth-of-type(3n+3) {
  margin-left: 20px;
  margin-right: 0;
}
.page-template-home .row.home-reviews .full-row .blocks-container > .review:nth-of-type(3n+2) {
  margin-right: 20px;
  margin-left: 20px;
}
.page-template-home .row.home-reviews .full-row .blocks-container .review {
  float: left;
  color: #000;
  background-color: #fff;
  border-radius: 10px;
  margin-bottom: 50px;
  position: relative;
}
.page-template-home .row.home-reviews .full-row .blocks-container .review p {
  color: #000;
}
.page-template-home .row.home-reviews .full-row .blocks-container .review .content {
  padding: 10px 40px 30px 40px;
}
.page-template-home .row.home-reviews .full-row .blocks-container .review .content:before {
  font-family: 'FontAwesome';
  content: '\f10d';
  position: absolute;
  left: 15px;
  top: 20px;
}
.page-template-home .row.home-reviews .full-row .blocks-container .review .content .name {
  position: absolute;
  bottom: 20px;
}
.page-template-home .row.home-reviews .full-row .blocks-container .review .content .name:before {
  content: "";
  position: relative;
  width: 70px;
  display: inline-block;
  border-bottom: 2px solid #707070;
  top: -3px;
  margin-right: 10px;
}
.page-template-home .row.contact-events .full-row .blocks-container {
  margin: 40px 0;
  display: inline-block;
  padding: 0 100px;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact {
  padding: 15px 30px;
  background-color: #ec8f46;
  border-radius: 10px;
  width: calc(57% - 20px);
  float: left;
  position: relative;
  z-index: 1;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact s .wpcf7-response-output {
  display: none !important;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-form {
  margin: auto;
  width: 100%;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-form p {
  margin: 0 0 14px;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-form h3 {
  color: #fff;
  text-align: left;
  margin-bottom: 17px;
  font-size: 21px;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-form-control-wrap.your-name input.wpcf7-form-control.wpcf7-text {
  width: calc(50% - 20px);
  float: left;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-form-control-wrap.your-email input.wpcf7-form-control.wpcf7-text {
  width: calc(50% - 20px);
  float: right;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-form-control-wrap input.wpcf7-form-control.wpcf7-text {
  width: 100%;
  height: 40px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  padding: 3px 23px;
  margin-bottom: 14px;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-form-control-wrap textarea {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  padding: 11px 23px;
  margin-bottom: 18px;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-submit {
  margin-top: -12px;
  color: #fff;
  float: right;
  line-height: 10px;
  font-size: 15px;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px 30px;
  border-radius: 10px;
  border: 2px solid #e95929;
  background-color: #e95929;
  transition: 0.2s;
}
.page-template-home .row.contact-events .full-row .blocks-container .contact .wpcf7-submit:hover {
  background-color: #fff;
  color: #e95929;
  border: 2px solid #e95929;
  transition: 0.2s;
}
.page-template-home .row.contact-events .full-row .blocks-container .events {
  width: calc(35% - 15px);
  float: right;
  background: linear-gradient(45deg, #e95929, #ec8f46);
  padding: 50px 30px;
  position: relative;
  left: -90px;
  top: -30px;
  border-radius: 50%;
  display: inline-block;
}
.page-template-home .row.contact-events .full-row .blocks-container .events h5 {
  font-size: 24px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  padding-left: 90px;
  margin: 0;
}
.page-template-home .row.contact-events .full-row .blocks-container .events button {
  margin: 10px 0px 0px 95px;
}
.page-template-home .row.contact-events .full-row .blocks-container .events button a {
  color: #fff;
  background: linear-gradient(45deg, #e95929, #ec8f46);
}
.page-template-home .row.contact-events .full-row .blocks-container .events button a:hover {
  background: #fff;
  color: #e95929;
}
.page-template-home .row.contact-events .full-row .blocks-container .events .event {
  box-sizing: border-box;
  background-color: #fff;
  width: 270px;
  height: 75px;
  border-radius: 20px;
  margin: 15px auto 15px 80px;
}
.page-template-home .row.contact-events .full-row .blocks-container .events .event h5 {
  font-family: 'Archivo', sans-serif;
  font-size: 14px;
  color: #707070;
  padding: 10px 0px 0px 25px;
  text-align: left;
  margin: 10px 0;
}
.page-template-home .row.contact-events .full-row .blocks-container .events .event .date {
  font-size: 14px;
  font-family: 'Archivo', sans-serif;
  color: #329eb3;
  text-align: left;
  padding: 0 25px;
}
.page-template-about-me p {
  color: #707070;
}
.page-template-about-me .row {
  float: left;
  width: 100%;
}
.page-template-about-me .row.about-me .full-row .blocks-container {
  margin-top: 182px;
  margin-bottom: 242px;
  float: left;
  width: 100%;
  position: relative;
}
.page-template-about-me .row.about-me .full-row .blocks-container .block {
  width: calc(50% - 50px);
  float: left;
  margin-right: 50px;
}
.page-template-about-me .row.about-me .full-row .blocks-container .block .main-image {
  padding-top: 100px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding-bottom: 80px;
}
.page-template-about-me .row.about-me .full-row .blocks-container .block .main-image .about-me-image {
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  margin-left: 11%;
  margin-right: 19%;
  border-radius: 20px;
}
.page-template-about-me .row.about-me .full-row .blocks-container .block .block-content {
  padding-top: 50px;
}
.page-template-about-me .row.about-me .full-row .blocks-container .block:last-child {
  margin-right: 0;
  margin-left: 50px;
}
.page-template-about-me .row.book .full-row .blocks-container {
  float: left;
  width: 100%;
  margin-bottom: 110px;
  position: relative;
}
.page-template-about-me .row.book .full-row .blocks-container .block {
  float: left;
  width: calc(50% - 100px);
  margin-left: 100px;
}
.page-template-about-me .row.book .full-row .blocks-container .block .book-image .image-backlayer {
  width: calc(100% - 128px);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -50px;
  margin-left: 128px;
}
.page-template-about-me .row.book .full-row .blocks-container .block .book-image .image {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -333px;
  position: relative;
}
.page-template-about-me .row.book .full-row .blocks-container .block .book-image .image .image-dot {
  position: absolute;
  width: 120px;
  height: 120px;
  bottom: 28px;
  left: 22%;
  background: linear-gradient(45deg, #e95929, #ec8f46);
  border-radius: 65px;
}
.page-template-about-me .row.book .full-row .blocks-container .block:last-child {
  width: calc(50% - 44px);
  margin-left: 44px;
}
.page-template-about-me .row.reviews {
  padding: 125px 0 95px;
  background: linear-gradient(to right, #329eb3, #b5cb7a);
}
.page-template-about-me .row.reviews .full-row .blocks-container {
  float: left;
  width: 100%;
  position: relative;
}
.page-template-about-me .row.reviews .full-row .blocks-container .block {
  float: left;
  width: 50%;
}
.page-template-about-me .row.reviews .full-row .blocks-container .block .review-image {
  position: relative;
  margin-left: 65px;
}
.page-template-about-me .row.reviews .full-row .blocks-container .block .review-image .image-backlayer {
  width: 76%;
  position: relative;
  border-radius: 20px;
  z-index: 1;
  bottom: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.35);
  margin-left: -13px;
  margin-bottom: -7px;
}
.page-template-about-me .row.reviews .full-row .blocks-container .block .review-image .image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 78%;
  border-radius: 20px;
  z-index: 2;
  position: absolute;
  bottom: 0;
  left: 0;
}
.page-template-about-me .row.reviews .full-row .blocks-container .block .block-content .wysiwyg.edit {
  position: relative;
  top: 80px;
}
.page-template-about-me .row.reviews .full-row .blocks-container .block .block-content .wysiwyg.edit p {
  color: #fff;
}
.page-template-about-me .row.reviews .full-row .blocks-container .block:last-child {
  width: 35%;
  margin-right: 15%;
  margin-top: -50px;
}
.page-template-about-me .row.quote .full-row .blocks-container {
  margin: 168px 50% 109px 15%;
}
.page-template-about-me .row.quote .full-row .blocks-container .block .quote {
  text-align: center;
}
.page-template-about-me .row.summary {
  padding: 99px 0 69px;
  background: linear-gradient(#e95929, #ec8f46);
}
.page-template-about-me .row.summary .full-row .blocks-container {
  margin: 0;
}
.page-template-about-me .row.summary .full-row .blocks-container .block {
  width: calc(50% - 120px);
  margin: 0 60px 0 60px;
  float: left;
}
.page-template-about-me .row.summary .full-row .blocks-container .block .wysiwyg p {
  color: #fff;
}
.page-template-about-me .row.summary .full-row .blocks-container .block .block-content.right .wysiwyg {
  line-height: 1.3;
}
.page-template-about-me .row.summary .full-row .blocks-container .block .big-image {
  margin-left: 100px;
}
.page-template-about-me .row.summary .full-row .blocks-container .block .big-image .image {
  margin: -371px auto 48px;
  background-repeat: no-repeat;
  background-position: right;
  background-size: cover;
}
.page-template-about-me .row.summary .full-row .blocks-container .block:last-child {
  width: calc(50% - 120px);
  margin: 0 90px 0 30px;
}
.row.contact .full-row .blocks-container {
  float: left;
  width: 100%;
  margin: 165px 0 100px;
}
.row.contact .full-row .blocks-container .block {
  width: 50%;
  float: left;
}
.row.contact .full-row .blocks-container .block .title-content {
  position: relative;
  height: 83px;
}
.row.contact .full-row .blocks-container .block .title-content .main {
  background-image: url("/helena/wp-content/uploads/2019/06/Rectangle-111.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -377px;
  width: 855px;
  height: 66px;
  bottom: 0;
  z-index: 2;
}
.row.contact .full-row .blocks-container .block .title-content .main p {
  font-size: 25px;
  font-weight: bold;
  display: block;
  position: absolute;
  right: 56px;
  color: #fff;
  margin: 14px 0;
}
.row.contact .full-row .blocks-container .block .title-content .secondary {
  background-image: url("/helena/wp-content/uploads/2019/06/Rectangle-110.png");
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: -302px;
  width: 811px;
  height: 47px;
  top: 0;
  z-index: 1;
}
.row.contact .full-row .blocks-container .block .block-content .services a li {
  padding-top: 7px;
}
.row.contact .full-row .blocks-container .block .contact {
  margin-right: 108px;
  margin-top: 160px;
}
.row.contact .full-row .blocks-container .block .contact .wpcf7-response-output {
  display: none !important;
}
.row.contact .full-row .blocks-container .block .contact .wpcf7-form {
  margin: auto;
  width: 336px;
}
.row.contact .full-row .blocks-container .block .contact .wpcf7-form p {
  margin: 0 0 14px;
}
.row.contact .full-row .blocks-container .block .contact .wpcf7-form h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 17px;
  font-size: 19px;
}
.row.contact .full-row .blocks-container .block .contact .wpcf7-form-control-wrap input.wpcf7-form-control.wpcf7-text {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  padding: 3px 23px;
  margin-bottom: 14px;
}
.row.contact .full-row .blocks-container .block .contact .wpcf7-form-control-wrap textarea {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  border-radius: 14px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  padding: 11px 23px;
  margin-bottom: 18px;
}
.row.contact .full-row .blocks-container .block .contact .wpcf7-submit {
  margin-top: -12px;
  float: right;
  line-height: 10px;
  font-size: 12px;
  color: #707070;
  font-family: 'Ubuntu', sans-serif;
  padding: 9px 37px 9px;
  border-radius: 18px;
  border: 2px solid #e95929;
  background-color: #fff;
  transition: 0.2s;
}
.row.contact .full-row .blocks-container .block .contact .wpcf7-submit:hover {
  background-color: #e95929;
  color: #fff;
  border: 2px solid #fff;
  transition: 0.2s;
}
.row.contact .full-row .blocks-container .block:last-child {
  background-image: url("/helena/wp-content/uploads/2019/06/Group-78.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 650px;
  margin-top: -110px;
}
.error404 .row.error-row .full-row .blocks-container {
  width: 100%;
  float: left;
}
.error404 .row.error-row .full-row .blocks-container .block {
  width: 50%;
  float: left;
}
.error404 .row.error-row .full-row .blocks-container .block .error-wrapper {
  width: 58%;
  text-align: center;
  margin: auto;
}
.error404 .row.error-row .full-row .blocks-container .block h2 {
  color: #707070;
}
.error404 .row.error-row .full-row .blocks-container .block .services-wrapper {
  width: 85%;
  margin: 102px auto 0;
}
.error404 .row.error-row .full-row .blocks-container .block .services-wrapper .services {
  margin-left: 0;
  margin-top: 35px;
}
.error404 .row.error-row .full-row .blocks-container .block:last-child {
  width: calc(50% - 190px);
  margin-right: 190px;
}
#main-footer {
  padding: 30px 0px 10px 0;
  background: #329eb3;
  width: 100%;
  float: left;
}
#main-footer p {
  color: #fff;
}
#main-footer .row.footer {
  width: 100%;
  float: left;
  color: white;
}
#main-footer .row.footer .full-row {
  max-width: 1345px;
}
#main-footer .row.footer .full-row .blocks-container {
  position: relative;
  width: 100%;
  float: left;
}
#main-footer .row.footer .full-row .blocks-container .block.logo {
  float: left;
  width: 27%;
  position: relative;
  top: 60px;
}
#main-footer .row.footer .full-row .blocks-container .block.logo .logo {
  background-repeat: no-repeat;
  height: 60px;
  width: 275px;
  position: relative;
  top: 40px;
}
#main-footer .row.footer .full-row .blocks-container .block.intel {
  width: 30%;
  float: left;
  line-height: 1;
  position: relative;
  top: 55px;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .city {
  margin: -20px 0 0 50px;
}
#main-footer .row.footer .full-row .blocks-container .block.intel p {
  width: 100%;
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .tel {
  padding-left: 20px;
  height: 15px;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .tel:hover {
  color: #e95929;
  transition: 0.6s all;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .tel:hover:before {
  color: #e95929;
  transition: 0.6s all;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .tel:before {
  width: 30px;
  content: '\f095';
  float: left;
  font-family: 'FontAwesome';
  display: block;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .mail {
  padding-left: 20px;
  height: 15px;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .mail:hover {
  color: #e95929;
  transition: 0.6s all;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .mail:hover:before {
  color: #e95929;
  transition: 0.6s all;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .mail:before {
  width: 30px;
  content: '\f0e0';
  float: left;
  font-family: 'FontAwesome';
  display: block;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .location {
  padding-left: 20px;
  height: 15px;
}
#main-footer .row.footer .full-row .blocks-container .block.intel .location:before {
  width: 30px;
  content: '\f041';
  float: left;
  font-family: 'FontAwesome';
  display: block;
}
#main-footer .row.footer .full-row .blocks-container .block.location {
  width: 38%;
  padding: 40px 15px;
  float: left;
  background: #2d8c9f;
}
#main-footer .row.footer .full-row .blocks-container .block.location .street, #main-footer .row.footer .full-row .blocks-container .block.location .postal {
  margin: 0;
}
#main-footer .row.footer .full-row .blocks-container .block.location .content {
  width: 45%;
  float: left;
  padding: 2px 0px 0px 20px;
}
#main-footer .row.footer .full-row .blocks-container .block.location .content p {
  font-size: 18px;
  font-family: 'Ubuntu', sans-serif;
  line-height: 23px;
}
#main-footer .row.footer .full-row .blocks-container .block.location .content h2 {
  margin: 0;
}
#main-footer .row.footer .full-row .blocks-container .block.location .content .title {
  color: #fff;
  font-weight: 700;
  font-family: 'Ubuntu', sans-serif;
  font-size: 23px;
  position: relative;
  top: 15px;
}
#main-footer .row.footer .full-row .blocks-container .block.location .maps {
  height: 100%;
  height: 205px;
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 40%;
  margin-left: 40px;
}
#main-footer .row.copyright .full-row .blocks-container .block.copyright {
  width: 100%;
  float: left;
  text-align: center;
  margin: 10px 0;
}
#main-footer .row.copyright .full-row .blocks-container .block.copyright a {
  color: #fff;
}
#main-footer .row.copyright .full-row .blocks-container .block.copyright a:hover {
  color: #e95929;
  transition: 0.6s all;
}
#main-footer .row.copyright .full-row .blocks-container .block.copyright a:hover:before {
  color: #e95929;
  transition: 0.6s all;
}
#main-footer .row.copyright .full-row .blocks-container .block.copyright .copyright {
  width: 100%;
}
.page-template-contact #main-footer {
  display: none;
}
.page-template-akasha-kronieken-cursus h2 {
  font-size: 26px;
}
.page-template-akasha-kronieken-cursus .row {
  width: 100%;
  float: left;
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container {
  margin: 122px 0px 35px;
  float: left;
  width: 100%;
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block {
  width: 50%;
  float: left;
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block .main-image {
  height: 483px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-top: -20px;
  margin-left: -75px;
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block .main-content h2 {
  margin-bottom: 18px;
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block .main-content h2.leer {
  font-size: 20px;
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block .main-content .wysiwyg p {
  font-size: 16px;
  line-height: 20px;
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block .main-content .possibilties .list {
  list-style-type: circle;
  list-style-image: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
  margin: 0 0 1.5em 1.7em;
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block .main-content .possibilties .list li {
  display: list-item;
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-style: italic;
  color: #329eb3;
  margin-bottom: 15px;
  list-style-image: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
}
.page-template-akasha-kronieken-cursus .row.akasha-cursus .full-row .blocks-container .block:first-child {
  width: calc(50% - 154px);
  margin-right: 154px;
}
.page-template-akasha-kronieken-cursus .row.product {
  background-image: url("/helena/wp-content/uploads/2019/06/Group-176.png");
  height: 982px;
  padding: 150px 0;
  box-sizing: border-box;
  margin-bottom: 78px;
}
.page-template-akasha-kronieken-cursus .row.product .full-row .blocks-container {
  float: left;
  width: 100%;
  margin: 30px 0px;
}
.page-template-akasha-kronieken-cursus .row.product .full-row .blocks-container .block {
  width: 50%;
  float: left;
  margin: 106px 0px;
}
.page-template-akasha-kronieken-cursus .row.product .full-row .blocks-container .block .image {
  margin: auto;
}
.page-template-akasha-kronieken-cursus .row.product .full-row .blocks-container .block .product-content h2 {
  color: #fff;
  font-size: 30px;
}
.page-template-akasha-kronieken-cursus .row.product .full-row .blocks-container .block .product-content .wysiwyg p {
  color: #fff;
  line-height: 25px;
}
.page-template-akasha-kronieken-cursus .row.product .full-row .blocks-container .block:last-child {
  width: 42%;
  float: left;
  margin: 0 0 0 8%;
}
.page-template-akasha-kronieken-cursus .row.info .full-row .blocks-container {
  margin-bottom: 299px;
}
.page-template-akasha-kronieken-cursus .row.info .full-row .blocks-container .block {
  width: 77%;
}
.page-template-akasha-kronieken-cursus .row.options {
  background-image: url("/helena/wp-content/uploads/2019/06/Path-342.png");
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.page-template-akasha-kronieken-cursus .row.options .full-row {
  max-width: 1614px;
  margin-top: -60px;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container {
  width: 100%;
  float: left;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container:last-child {
  margin-bottom: 20px;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .centering-div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block {
  width: 33.3%;
  float: left;
  position: relative;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block .option-wrapper {
  width: 74%;
  height: 100%;
  margin: auto;
  padding: 36px 60px 60px 60px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  text-align: center;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block .option-wrapper h2 {
  line-height: 30px;
  margin: 0 0 50px;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block .option-wrapper p {
  font-size: 20px;
  line-height: 25px;
  color: #b4b4b4;
  position: relative;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block .option-wrapper p:after {
  content: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
  position: absolute;
  left: -14px;
  top: 2px;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block .option-wrapper .price {
  position: absolute;
  left: 115px;
  right: 115px;
  bottom: -38px;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  line-height: 35px;
  background: linear-gradient(to bottom, #e95929, #ec8f46);
  border-radius: 41px;
  color: #fff;
  padding: 20px 0 19px;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block .option-wrapper .price span {
  font-size: 18px;
}
.page-template-akasha-kronieken-cursus .row.options .full-row .blocks-container .block.white-space {
  width: 16.65%;
}
.row.top {
  width: 100%;
  float: left;
}
.row.top .full-row .blocks-container {
  width: 100%;
  float: left;
}
.row.top .full-row .blocks-container .block.content {
  width: 50%;
  float: left;
  margin-top: 140px;
}
.row.top .full-row .blocks-container .block.content .title {
  padding-bottom: 10px;
}
.row.top .full-row .blocks-container .block.content .content {
  padding: 0px 100px 0px 0px;
}
.row.top .full-row .blocks-container .block.image {
  width: 50%;
  float: left;
  height: 605px;
}
.row.top .full-row .blocks-container .block.image .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.row.green {
  background-repeat: no-repeat;
  background-size: 110% 710px;
  height: 695px;
  float: left;
  width: 100%;
}
.row.green .full-row .blocks-container {
  width: 100%;
  float: left;
  color: #fff;
  margin-top: 190px;
  line-height: 1.9;
}
.row.green .full-row .blocks-container .block.left-content {
  width: 50%;
  float: left;
}
.row.green .full-row .blocks-container .block.left-content .title {
  color: #fff;
  padding-bottom: 10px;
}
.row.green .full-row .blocks-container .block.left-content .content {
  color: #fff;
  padding: 0px 40px 0px 0px;
}
.row.green .full-row .blocks-container .block.right-content {
  width: 50%;
  float: left;
  margin-top: 35px;
}
.row.green .full-row .blocks-container .block.right-content .right {
  color: #fff;
  padding: 0px 40px 0px 40px;
}
.row.after-green .full-row .blocks-container {
  width: 100%;
  float: left;
  margin-bottom: 100px;
}
.row.after-green .full-row .blocks-container .block.image {
  width: 50%;
  float: left;
  height: 470px;
}
.row.after-green .full-row .blocks-container .block.image .image {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.row.after-green .full-row .blocks-container .block.content {
  width: 50%;
  float: left;
  position: relative;
  left: 100px;
  top: 30px;
}
.row.after-green .full-row .blocks-container .block.content .title {
  font-size: 20px;
  padding-bottom: 10px;
}
.row.after-green .full-row .blocks-container .block.content p {
  padding: 0px 260px 0px 0px;
  line-height: 2;
}
.row.questions .full-row .blocks-container {
  width: 100%;
  float: left;
  margin-bottom: 75px;
}
.row.questions .full-row .blocks-container .block.questions .title {
  padding-bottom: 10px;
}
.row.questions .full-row .blocks-container .block.questions .content {
  padding: 0px 160px 0px 0px;
}
.row.upper {
  width: 100%;
  float: left;
  margin-top: 100px;
}
.row.upper .full-row .blocks-container {
  width: 100%;
  float: left;
  margin-bottom: 100px;
}
.row.upper .full-row .blocks-container .block {
  width: 50%;
  float: left;
}
.row.upper .full-row .blocks-container .block.content .content {
  line-height: 2;
}
.row.upper .full-row .blocks-container .block.content .content.top {
  font-weight: bold;
}
.row.upper .full-row .blocks-container .block.image {
  height: 560px;
  width: 50%;
}
.row.upper .full-row .blocks-container .block.image .image {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.row.repeater .full-row .blocks-container {
  margin-bottom: 100px;
  float: left;
  width: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.row.repeater .full-row .blocks-container > .green_block {
  width: calc(33.3333333333% - 40px);
  margin-right: 30px;
  margin-left: 30px;
}
.row.repeater .full-row .blocks-container > .green_block:nth-of-type(3n+1) {
  margin-right: 30px;
  margin-left: 0;
}
.row.repeater .full-row .blocks-container > .green_block:nth-of-type(3n+3) {
  margin-left: 30px;
  margin-right: 0;
}
.row.repeater .full-row .blocks-container > .green_block:nth-of-type(3n+2) {
  margin-right: 30px;
  margin-left: 30px;
}
.row.repeater .full-row .blocks-container .green_block {
  width: 30%;
  float: left;
}
.row.repeater .full-row .blocks-container .green_block .content-block {
  width: 100%;
  height: 100%;
  float: left;
  background-color: #b5cb7a;
}
.row.repeater .full-row .blocks-container .green_block .content-block .title {
  padding: 50px 0px 0px 20px;
}
.row.repeater .full-row .blocks-container .green_block .content-block .content {
  padding: 15px 15px 15px 20px;
  color: #fff;
  line-height: 1.7;
}
.row.repeater .full-row .blocks-container .green_block .image-under {
  width: 100%;
  float: left;
  height: 20%;
  background-repeat: no-repeat;
  background-size: contain;
}
.row.about-helena {
  width: 100%;
  float: left;
  margin-bottom: 100px;
}
.row.about-helena .full-row .blocks-container .block.about {
  width: 60%;
  float: left;
}
.row.about-helena .full-row .blocks-container .block.about .content {
  padding-right: 120px;
}
.row.about-helena .full-row .blocks-container .block.life-lesson {
  width: 30%;
  float: left;
  border: 1px solid #e95929;
  border-radius: 13px;
  margin-left: 60px;
  height: 260px;
}
.row.about-helena .full-row .blocks-container .block.life-lesson .title {
  width: 50%;
  padding: 20px 0px 0px 30px;
}
.row.about-helena .full-row .blocks-container .block.life-lesson .content-lesson {
  width: 70%;
  padding-left: 30px;
}
.row.about-helena .full-row .blocks-container .block.life-lesson .price-tag {
  position: relative;
  top: 0px;
  margin: 0 auto;
  width: 80%;
  padding: 10px;
  color: #fff;
  font-size: 35px;
  text-align: center;
  background-image: linear-gradient(-180deg, #e95929, #ec8f46);
  border: 1px solid transparent;
  border-radius: 44px;
}
.row.instructions .full-row .blocks-container .block .wysiwyg p {
  padding-right: 20px;
}
.parent-pageid-27 .row.instructions {
  margin-bottom: 30px;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container {
  width: 94%;
  margin: auto;
  background: linear-gradient(to left, #e95929, #ec8f46);
  padding: 45px 63px 33px;
  box-sizing: border-box;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  border-radius: 13px;
  color: #fff;
  font-size: 18px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block {
  width: 49.7%;
  padding: 0 50px;
  box-sizing: border-box;
  display: inline-block;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block h2 {
  margin: 0 0 24px;
  color: #fff;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block ul {
  margin-left: 31px;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block li {
  position: relative;
  font-size: 18px;
  display: list-item;
  margin-bottom: 10px;
  font-family: 'Archivo', sans-serif;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block li:before {
  content: "\f0da";
  font-family: FontAwesome;
  color: #fff;
  font-size: 20px;
  margin-left: -1.5em;
  position: absolute;
  top: -2px;
  left: 0;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block .wysiwyg p {
  color: #fff !important;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block .wysiwyg p a {
  color: #fff;
  text-decoration: none;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block .wysiwyg p a:hover {
  color: #707070;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block .wysiwyg p strong {
  font-size: 20px;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block.more-services h2 {
  margin: 0 0 24px 31px;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block.more-services .instructions-services li {
  color: #fff;
}
.parent-pageid-27 .row.instructions .full-row .blocks-container .block.more-services .instructions-services li:hover {
  color: #707070;
}
.page-template-levensdoelen-en-levenmissies .row.levensdoelen {
  width: 100%;
  margin: 50px 0;
  float: left;
}
.page-template-levensdoelen-en-levenmissies .row.levensdoelen .full-row .blocks-container {
  width: 100%;
  float: left;
}
.page-template-levensdoelen-en-levenmissies .row.levensdoelen .full-row .blocks-container .block {
  width: 50%;
  float: left;
}
.page-template-levensdoelen-en-levenmissies .row.levensdoelen .full-row .blocks-container .block p {
  margin-bottom: 30px;
}
.page-template-levensdoelen-en-levenmissies .row.levensdoelen .full-row .blocks-container .block h3 {
  margin-bottom: 30px;
}
.page-template-levensdoelen-en-levenmissies .row.levensdoelen .full-row .blocks-container .block .main-image {
  background-image: url("/helena/wp-content/uploads/2019/06/Group-178.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 618px;
}
.page-template-levensdoelen-en-levenmissies .row.levensdoelen .full-row .blocks-container .block:first-child {
  width: calc(50% - 130px);
  margin: 110px 130px 0 0;
}
.page-template-levensdoelen-en-levenmissies .row.product {
  width: 100%;
  min-height: 785.58px;
  float: left;
  background-image: url("/helena/wp-content/uploads/2019/06/Path-436.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 103% 100%;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container {
  width: 100%;
  float: left;
  margin: 180px 0px;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block {
  width: 55%;
  float: left;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .wysiwyg p {
  color: #fff;
  font-size: 18px;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .product-wrapper {
  position: relative;
  width: 100%;
  float: left;
  margin: 60px 0px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .product-wrapper .block {
  width: 43%;
  float: left;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .product-wrapper .block .image {
  width: 243px;
  height: 243px;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 32px;
  border-radius: 13px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .product-wrapper .block .info-wrapper {
  position: absolute;
  bottom: 0;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .product-wrapper .block .info-wrapper .title {
  font-size: 20px;
  margin-bottom: 24px;
  color: #fff;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .product-wrapper .block .info-wrapper .price {
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 24px;
  color: #fff;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .product-wrapper .block .info-wrapper button {
  padding-left: 0;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block .product-wrapper .block:last-child {
  width: 57%;
}
.page-template-levensdoelen-en-levenmissies .row.product .full-row .blocks-container .block:last-child {
  width: 45%;
}
.page-template-Akasha-Kronieken-Opstellingen {
  /* SMARTPHONES LANDSCAPE */
}
.page-template-Akasha-Kronieken-Opstellingen .row {
  float: left;
  width: 100%;
}
.page-template-Akasha-Kronieken-Opstellingen .row.akasha-opstelling {
  margin-top: 100px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.akasha-opstelling img {
  height: auto;
  max-width: 90%;
}
.page-template-Akasha-Kronieken-Opstellingen .row.akasha-opstelling .full-row .afbeelding {
  float: left;
  width: 656px;
  height: 483px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.akasha-opstelling .full-row .blok {
  font-size: 16px;
  width: 50%;
  float: left;
  position: relative;
  left: 115px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.akasha-opstelling .full-row .blok2 {
  font-size: 16px;
  width: 50%;
  float: left;
  margin-top: 65px;
  position: relative;
  left: 115px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.mid_container {
  background-image: url("http://localhost:1337/helena/wp-content/uploads/2019/06/Path-342.png");
  margin-top: 150px;
  height: 630px;
  margin-bottom: 250px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 104%;
}
.page-template-Akasha-Kronieken-Opstellingen .row.mid_container .full-row_mid .blok {
  font-size: 16px;
  width: 42%;
  float: left;
  margin-left: 293px;
  margin-top: 120px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.mid_container .full-row_mid .blok2 {
  font-size: 16px;
  width: 37%;
  float: right;
  margin-top: 124px;
  position: relative;
  right: 163px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.mid_container .full-row_mid .blok3 {
  font-size: 16px;
  width: 43%;
  float: left;
  margin-left: 288px;
  margin-top: 79px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row {
  max-width: 990px;
  margin-top: -300px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container {
  width: 100%;
  float: left;
  margin-bottom: 150px;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container:last-child {
  position: relative;
  bottom: 20px;
  right: 70px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .centering-div {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok {
  margin-left: -250px;
  width: 97.3%;
  float: left;
  left: 63px;
  bottom: -19px;
  position: relative;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok .option-wrapper {
  width: 39%;
  height: 79%;
  margin: auto;
  padding: 36px 60px 60px 60px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  text-align: center;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok .option-wrapper h2 {
  line-height: 30px;
  margin: 0 0 50px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok .option-wrapper p {
  font-size: 20px;
  line-height: 25px;
  color: #b4b4b4;
  position: relative;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok .option-wrapper p:after {
  content: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
  position: absolute;
  left: -14px;
  top: 2px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok .option-wrapper .price {
  position: absolute;
  left: 405px;
  right: 406px;
  bottom: 9px;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  line-height: 35px;
  background: linear-gradient(to bottom, #e95929, #ec8f46);
  border-radius: 41px;
  color: #fff;
  padding: 20px 0 19px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok.white-space {
  width: 16.65%;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok2 {
  width: 97.3%;
  float: left;
  left: 295px;
  bottom: 237px;
  position: relative;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok2 .option-wrapper {
  width: 38%;
  height: 79%;
  margin: auto;
  padding: 36px 60px 60px 60px;
  box-sizing: border-box;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  text-align: center;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok2 .option-wrapper h2 {
  line-height: 30px;
  margin: 0 0 50px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok2 .option-wrapper p {
  font-size: 20px;
  line-height: 25px;
  color: #b4b4b4;
  position: relative;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok2 .option-wrapper p:after {
  content: url("/helena/wp-content/uploads/2019/06/Mask-Group-19.png");
  position: absolute;
  left: -14px;
  top: 2px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok2 .option-wrapper .price {
  position: absolute;
  left: 405px;
  right: 406px;
  bottom: 9px;
  font-size: 30px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: bold;
  line-height: 35px;
  background: linear-gradient(to bottom, #e95929, #ec8f46);
  border-radius: 41px;
  color: #fff;
  padding: 20px 0 19px;
}
.page-template-Akasha-Kronieken-Opstellingen .row.bottom_container .full-row .blocks-container .blok2.white-space {
  width: 16.65%;
}
.page-template-Akasha-Kronieken-Opstellingen .row.instructions {
  margin-top: -200px;
}
.row.healing-intro {
  width: 100%;
  float: left;
}
.row.healing-intro .full-row .blocks-container {
  margin-top: 100px;
  margin-bottom: 100px;
  width: 100%;
  float: left;
}
.row.healing-intro .full-row .blocks-container .block.content {
  width: 50%;
  float: left;
}
.row.healing-intro .full-row .blocks-container .block.content .content {
  padding: 0px 100px 0px 0px;
}
.row.healing-intro .full-row .blocks-container .block.more-content {
  width: 50%;
  float: left;
}
.row.healing-intro .full-row .blocks-container .block.more-content .image-bounderies {
  width: 100%;
  height: 312px;
}
.row.healing-intro .full-row .blocks-container .block.more-content .image-bounderies .image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.row.consulting .full-row .blocks-container {
  margin-bottom: 100px;
  width: 100%;
  float: left;
}
.row.consulting .full-row .blocks-container .block.consulting > .repeat {
  width: calc(33.3333333333% - 26.6666666667px);
  margin-right: 20px;
  margin-left: 20px;
}
.row.consulting .full-row .blocks-container .block.consulting > .repeat:nth-of-type(3n+1) {
  margin-right: 20px;
  margin-left: 0;
}
.row.consulting .full-row .blocks-container .block.consulting > .repeat:nth-of-type(3n+3) {
  margin-left: 20px;
  margin-right: 0;
}
.row.consulting .full-row .blocks-container .block.consulting > .repeat:nth-of-type(3n+2) {
  margin-right: 20px;
  margin-left: 20px;
}
.row.consulting .full-row .blocks-container .block.consulting .repeat {
  float: left;
  box-sizing: border-box;
  border: 1px solid #e95929;
  border-radius: 25px;
}
.row.consulting .full-row .blocks-container .block.consulting .repeat .content {
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
}
.row.consulting .full-row .blocks-container .block.consulting .repeat .price {
  text-align: center;
  font-weight: bold;
  background-image: linear-gradient(-180deg, #e95929, #ec8f46);
  margin: 0 auto;
  width: 60%;
  padding: 10px;
  color: #fff;
  font-size: 35px;
  border-radius: 44px;
  position: relative;
  top: 20px;
}
.row.register .full-row .blocks-container {
  width: 100%;
  float: left;
  background-image: linear-gradient(-180deg, #e95929, #ec8f46);
  border: 1px solid transparent;
  border-radius: 25px;
}
.row.register .full-row .blocks-container .block.register {
  width: 50%;
  float: left;
}
.row.register .full-row .blocks-container .block.register .pouch {
  padding: 30px 30px 30px 100px;
}
.row.register .full-row .blocks-container .block.register .pouch .title {
  color: #fff;
}
.row.register .full-row .blocks-container .block.register .pouch .content {
  color: #fff;
  padding: 0px 310px 0px 0px;
}
.row.register .full-row .blocks-container .block.register .pouch .email {
  color: #fff;
}
.row.register .full-row .blocks-container .block.register .pouch .tel {
  color: #fff;
}
.row.register .full-row .blocks-container .block.service-repeater {
  width: 50%;
  float: left;
}
.row.register .full-row .blocks-container .block.service-repeater .title-repeater {
  color: #fff;
  padding: 20px 20px 0px 20px;
}
.row.register .full-row .blocks-container .block.service-repeater .services {
  padding: 0px 20px 20px 20px;
  line-height: 1;
}
.row.register .full-row .blocks-container .block.service-repeater .services .content {
  color: #fff;
}
.row.register .full-row .blocks-container .block.service-repeater .services .content:before {
  width: 30px;
  content: '\f04b';
  float: left;
  font-family: 'FontAwesome';
  display: block;
  color: #fff;
}
.row.summary .full-row .blocks-container {
  margin-top: 180px;
  width: 100%;
  float: left;
}
.row.summary .full-row .blocks-container .block {
  width: 50%;
  float: left;
}
.row.summary .full-row .blocks-container .block.situation .title {
  padding: 20px 0px;
}
.row.summary .full-row .blocks-container .block.situation .content {
  padding: 0px 100px 0px 0px;
}
.row.summary .full-row .blocks-container .block.healing .title {
  padding: 20px 0px;
}
.row.summary .full-row .blocks-container .block.healing .questions {
  padding: 0px 100px 0px 0px;
}
.row.summary .full-row .blocks-container .block.summary-repeater {
  position: relative;
  bottom: 100px;
  line-height: 1;
}
.row.summary .full-row .blocks-container .block.summary-repeater .little-title {
  padding: 0px 0px 20px 0px;
}
.row.summary .full-row .blocks-container .block.summary-repeater .content:before {
  width: 30px;
  content: '\f04b';
  float: left;
  font-family: 'FontAwesome';
  display: block;
  color: #e95929;
}
.row.summary .full-row .blocks-container .block.do-it .title {
  padding: 20px 0px;
}
.row.summary .full-row .blocks-container .block.do-it .do {
  padding: 0px 100px 0px 0px;
}
html {
  height: 100%;
}
.page-template-contact #main-header {
  position: absolute !important;
}
.row.contact-pagina {
  width: 100%;
  float: left;
  height: 100%;
  position: fixed;
}
.row.contact-pagina:before {
  content: '';
  background-repeat: no-repeat;
  background-size: 60% 100%;
  background-position: left;
  width: 100%;
  position: absolute;
  height: 100%;
  left: -30px;
  top: 0px;
  z-index: 0;
  background-image: url('/helena/wp-content/uploads/2019/06/background-wave@2x-1.png');
}
.row.contact-pagina .full-row:before {
  content: '';
  background-repeat: no-repeat;
  background-size: 50% 100%;
  background-position: left;
  width: 100%;
  position: fixed;
  height: 100%;
  left: -110px;
  top: -120px;
  z-index: 1;
  background-image: url('/helena/wp-content/uploads/2019/06/Group-46@2x.png');
}
.row.contact-pagina .full-row .blocks-container {
  position: relative;
  width: 100%;
  height: 1080px;
  right: 600px;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper {
  position: relative;
  z-index: 4;
  width: 50%;
  float: left;
  top: 320px;
  left: 590px;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .upper {
  line-height: 0.1;
  width: 51%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .upper .tel:before {
  width: 30px;
  content: '\f095';
  float: left;
  font-family: 'FontAwesome';
  display: block;
  color: #fff;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .upper .email:before {
  width: 30px;
  content: '\f0e0';
  float: left;
  font-family: 'FontAwesome';
  display: block;
  color: #fff;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .upper p {
  color: #fff;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .lower {
  line-height: 0.1;
  width: 50%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .lower i {
  color: #fff;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .lower .street {
  margin-left: 30px;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .lower .street:before {
  width: 30px;
  content: '\f041';
  float: left;
  font-family: 'FontAwesome';
  display: block;
  color: #fff;
  position: absolute;
  left: 0px;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .lower .postal {
  position: relative;
  left: 30px;
}
.row.contact-pagina .full-row .blocks-container .block.content-upper .lower p {
  color: #fff;
}
.row.contact-pagina .full-row .blocks-container .block.content-lower {
  position: relative;
  z-index: 4;
  width: 40%;
  float: left;
  top: 540px;
  left: -100px;
}
.row.contact-pagina .full-row .blocks-container .block.content-lower .title {
  color: #fff;
  margin-left: 30px;
}
.row.contact-pagina .full-row .blocks-container .block.content-lower .days {
  color: #fff;
  margin-left: 30px;
  padding: 0px 300px 0px 0px;
}
.row.contact-pagina .full-row .blocks-container .block.content-lower .days:before {
  width: 30px;
  content: '\f133';
  float: left;
  font-family: 'FontAwesome';
  display: block;
  color: #fff;
  position: absolute;
  left: 0px;
}
.row.contact-pagina .full-row .blocks-container .block.content-lower .street {
  color: #fff;
  margin-left: 30px;
  padding: 0px 300px 0px 0px;
}
.row.contact-pagina .full-row .blocks-container .block.content-lower .street:before {
  width: 30px;
  content: '\f041';
  float: left;
  font-family: 'FontAwesome';
  display: block;
  color: #fff;
  position: absolute;
  left: 0px;
}
.row.contact-pagina .full-row .blocks-container .block.form {
  position: relative;
  z-index: 4;
  left: 800px;
  float: left;
  width: 50%;
  line-height: 0.5;
}
.row.contact-pagina .full-row .blocks-container .block.form:before {
  content: '';
  background-image: url('/helena/wp-content/uploads/2019/06/Group-47@2x.png');
  position: absolute;
  z-index: 3;
  left: 1270px;
  width: 50%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  top: 500px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form {
  width: 100%;
  float: left;
  background-color: white;
  padding: 34px;
  box-shadow: 2px 2px 10px lightgrey;
  position: absolute;
  top: 30px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-title {
  widows: 100%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields {
  width: 100%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields input {
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  float: left;
  padding: 10px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields input::placeholder {
  color: #e95929;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields p {
  position: relative;
  top: 15px;
  left: 15px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .input {
  width: 45%;
  float: left;
  padding-right: 30px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .input.top.left input {
  width: 100%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .input.top.left .your-name {
  width: 100%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .input.top.left .your-name .wpcf7-not-valid-tip {
  width: 100%;
  float: left;
  position: relative;
  top: 10px;
  left: 10px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .input.top.right input {
  width: 100%;
  float: left;
  margin-left: 10px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .input.top.right .your-email .wpcf7-not-valid-tip {
  width: 100%;
  float: left;
  position: relative;
  top: 10px;
  left: 20px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .middle .mid {
  width: 98%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .middle .mid .your-subject .wpcf7-not-valid-tip {
  width: 100%;
  float: left;
  position: relative;
  top: 10px;
  left: 10px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .middle .mid input {
  width: 98%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .textarea {
  width: 100%;
  float: left;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .textarea .your-message span.wpcf7-not-valid-tip {
  width: 100%;
  float: left;
  position: relative;
  left: 10px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .textarea textarea {
  width: 99%;
  border: 1px solid #d8d8d8;
  border-radius: 12px;
  resize: vertical;
  height: 180px;
  max-height: 360px;
  min-height: 100px;
  margin-bottom: 10px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .form-fields .textarea textarea::placeholder {
  color: #e95929;
  position: relative;
  padding: 10px 0px 0px 10px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .button {
  width: 15%;
  float: right;
  text-align: center;
  position: relative;
  transition: all 0.6s ease-in-out;
  padding: 15px 15px 15px 25px;
  background-color: #e95929;
  border: 1px solid transparent;
  border-radius: 25px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .button:hover {
  transform: scale(1.1);
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .button:before {
  content: '\f1d8';
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #fff;
  z-index: 5;
  font-size: 15px;
  padding-right: 0.5em;
  position: absolute;
  top: 20px;
  left: 30px;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .button .wpcf7-submit {
  width: 100%;
  background-color: #e95929;
  color: #fff;
  position: relative;
  font-size: 15px;
  font-weight: bold;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .wpcf7-validation-errors {
  width: 70%;
  float: left;
  position: relative;
  bottom: 25px;
  line-height: 1.5;
}
.row.contact-pagina .full-row .blocks-container .block.form .wpcf7 .wpcf7-form .wpcf7-mail-sent-ok {
  width: 70%;
  float: left;
  position: relative;
  bottom: 15px;
}
.row.contact-pagina .full-row .blocks-container .facebook-dash {
  width: 30%;
  float: left;
  position: relative;
  top: 600px;
  left: 600px;
}
.row.contact-pagina .full-row .blocks-container .facebook-dash .fa {
  position: relative;
  top: 37px;
  right: 25px;
  color: #fff;
}
.row.contact-pagina .full-row .blocks-container .facebook-dash .facebook {
  position: relative;
  z-index: 4;
  color: #fff;
}
.single-product p {
  font-size: 18px;
}
.single-product .content-area {
  max-width: 1410px;
  margin: auto;
}
.single-product .content-area .site-main .product {
  width: 100%;
  float: left;
  margin: 220px 0;
}
.single-product .content-area .site-main .product .image-1 {
  width: 200px;
  height: 200px;
  background: linear-gradient(#e95929, #ec8f46);
  border-radius: 100px;
  position: absolute;
  left: -60px;
  bottom: 160px;
  z-index: -1;
}
.single-product .content-area .site-main .product .image-2 {
  width: 350px;
  height: 350px;
  background: linear-gradient(#e95929, #ec8f46);
  border-radius: 180px;
  position: absolute;
  top: -77px;
  right: 155px;
  z-index: -1;
}
.single-product .content-area .site-main .product .image-3 {
  width: 130px;
  height: 130px;
  background: linear-gradient(#e95929, #ec8f46);
  border-radius: 100px;
  position: absolute;
  right: 145px;
  bottom: 187px;
  z-index: -1;
}
.single-product .content-area .site-main .product .woocommerce-product-gallery {
  margin-bottom: 2em;
  margin-top: 2em;
}
.single-product .content-area .site-main .product .woocommerce-product-gallery .woocommerce-product-gallery__image {
  width: 70%;
}
.single-product .content-area .site-main .product .summary .price {
  color: #e95929;
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
}
.single-product .content-area .site-main .product .summary .product_title {
  width: 88%;
  text-shadow: none;
  font-size: 22px;
}
.single-product .content-area .site-main .product .summary .woocommerce-product-details__short-description {
  border-bottom: 1px solid;
  padding-bottom: 15px;
  width: 88%;
}
.single-product .content-area .site-main .product .summary .cart {
  width: 50%;
  float: right;
  margin-top: 53px;
}
.single-product .content-area .site-main .product .summary .cart button.button {
  background-color: #e95929;
  padding: 11px 56px;
  border: 2px solid #e95929;
  border-radius: 28px;
  box-sizing: border-box;
  transition: 0.6s;
}
.single-product .content-area .site-main .product .summary .cart button.button:hover {
  background-color: #fff;
  color: #e95929;
  transition: 0.6s;
}
.single-product .content-area .site-main .product .summary .cart .quantity .text {
  margin: 7px 0px;
}
.single-product .content-area .site-main .product .summary .product_meta {
  width: 50%;
  float: left;
  margin-top: 35px;
}
.single-product .content-area .site-main .product .summary .product_meta .sku_wrapper, .single-product .content-area .site-main .product .summary .product_meta .posted_in {
  width: 100%;
  display: block;
  color: #b5b5b5;
  font-size: 18px;
}
.single-product .content-area .site-main .product .summary .product_meta .sku_wrapper a, .single-product .content-area .site-main .product .summary .product_meta .posted_in a {
  color: #b5b5b5;
}
.single-product .content-area .site-main .product .summary .product_meta .sku_wrapper a:hover, .single-product .content-area .site-main .product .summary .product_meta .posted_in a:hover {
  color: #6e6e6e;
}
.single-product .content-area .site-main .product .woocommerce-tabs {
  width: 88%;
  margin: auto;
  padding-top: 120px;
}
.single-product .content-area .site-main .product .woocommerce-tabs ul.tabs {
  border-radius: 0;
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}
.single-product .content-area .site-main .product .woocommerce-tabs ul.tabs li {
  border: none;
  background-color: #707070;
  color: #fff;
  padding: 0;
  border-radius: 40px;
}
.single-product .content-area .site-main .product .woocommerce-tabs ul.tabs li a {
  color: #fff;
  padding: 12px 50px;
}
.single-product .content-area .site-main .product .woocommerce-tabs ul.tabs li.active {
  background-color: #e95929;
  border: none;
}
.single-product .content-area .site-main .product .woocommerce-tabs ul.tabs li:before {
  content: none;
}
.single-product .content-area .site-main .product .woocommerce-tabs ul.tabs li:after {
  content: none;
}
.single-product .content-area .site-main .product .woocommerce-tabs ul.tabs:before {
  content: none;
}
.single-product .content-area .site-main .product .woocommerce-tabs ul.tabs:after {
  content: none;
}
.single-product .content-area .site-main .product .woocommerce-tabs .woocommerce-Tabs-panel {
  padding-left: 50px;
  border-left: 2px solid #e95929;
}
.single-product #sidebar {
  display: none;
}
.archive .row.title {
  width: 100%;
  float: left;
  margin: 122px 0 80px;
}
.archive .row.title .full-row .blocks-container h1 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 85px;
  text-shadow: none;
}
.archive .row.title .full-row .blocks-container .block {
  width: 85%;
  float: right;
}
.archive .row.items {
  width: 100%;
  float: left;
  margin-bottom: 90px;
}
.archive .row.items .full-row .blocks-container .block {
  width: 15%;
  float: left;
  margin-top: 133px;
}
.archive .row.items .full-row .blocks-container .block:last-child {
  margin-top: 0;
  width: 85%;
  float: left;
}
.archive .woocommerce {
  position: relative;
}
.archive .woocommerce .woof_products_top_panel {
  position: absolute;
  top: -79px;
}
.archive .woocommerce .woocommerce-result-count {
  display: none;
}
.archive .woocommerce .woocommerce-ordering {
  text-align-last: right;
  text-align: right;
  -ms-text-align-last: right;
  -moz-text-align-last: right;
  margin-top: -143px;
}
.archive .woocommerce .woocommerce-ordering select {
  background: transparent;
  border: none;
  height: 47px;
  padding-right: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #e95929;
}
.archive .woocommerce ul.products {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.archive .woocommerce ul.products.columns-3 {
  margin-top: 75px;
}
.archive .woocommerce ul.products li.product-category {
  width: 100%;
  margin: 0 0 15px;
}
.archive .woocommerce ul.products li.product-category a h2 {
  color: #707070;
}
.archive .woocommerce ul.products li.product-category a h2 .count {
  display: none;
}
.archive .woocommerce ul.products li.product-category a img {
  display: none;
}
.archive .woocommerce ul.products li.type-product {
  padding-bottom: 100px;
}
.archive .woocommerce ul.products li.type-product a.woocommerce-loop-product__link img {
  width: 65%;
}
.archive .woocommerce ul.products li.type-product a.woocommerce-loop-product__link:hover h2.woocommerce-loop-product__title {
  color: #e95929;
}
.archive .woocommerce ul.products li.type-product a.woocommerce-loop-product__link h2.woocommerce-loop-product__title {
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
  font-weight: normal;
  color: #707070;
  line-height: 22px;
  padding: 0.4em 54px 0.4em 14px;
}
.archive .woocommerce ul.products li.type-product a.woocommerce-loop-product__link .price {
  font-family: 'Ubuntu', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #e95929;
  line-height: 35px;
  padding: 0 14px;
  position: absolute;
  bottom: 40px;
}
.archive .woocommerce ul.products a.button {
  margin-left: 14px;
  margin-top: 5px;
  display: inline-block;
  font-family: 'Archivo', sans-serif;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  background-color: #e95929;
  padding: 10px 40px;
  border-radius: 30px;
  transition: 0.3s all;
  position: absolute;
  bottom: 0;
}
.archive .woocommerce ul.products a.button:hover {
  color: #e95929;
  background-color: #fff;
  transition: 0.3s all;
}
.archive .woof .woof_redraw_zone .woof_text_search_container .woof_container_inner .woof_show_text_search_container {
  position: relative;
}
.archive .woof .woof_redraw_zone .woof_text_search_container .woof_container_inner .woof_show_text_search_container:before {
  font-family: FontAwesome;
  content: "\f002";
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  /*--adjust as necessary--*/
  color: #e95929;
  font-size: 20px;
  padding-right: 0.5em;
  position: absolute;
  top: 10px;
  left: 0;
}
.archive .woof .woof_redraw_zone .woof_text_search_container .woof_container_inner .woof_show_text_search_container input.woof_show_text_search {
  height: 47px;
  padding: 9px 52px !important;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #e95929;
  position: relative;
  background: transparent;
  width: 30% !important;
}
.archive .woof .woof_redraw_zone .woof_text_search_container .woof_container_inner .woof_show_text_search_container input.woof_show_text_search::placeholder {
  color: #e95929;
}
